<div class="row">
  <section class="span6">
    <%- if current_user.name.present? %>
      <h2><%= t('Hello') -%> <%= current_user.first_name %></h2>
    <%- end -%>

    <p>
      <%= t('welcome_to_the_api_center') -%>
    </p>

    <ul class="nav nav-pills nav-stacked well">
      <li class="nav-header">
        <%= t('From_here_you_can') -%>:
      </li>
      <li>
        <%= link_to t('View_the_Safecast_API_docs'), [:api, :root] %>
      </li>
      <li>
        <%= link_to t('Retrieve_your_API_key'), [:my, :profile] %>
      </li>
      <li>
        <%= link_to t('Submit_a_reading_from_your_device'), [:new, :my, :measurement] %>
      </li>
      <li>
        <%= link_to t('View_your_submission_history'), [:my, :measurements] %>
      </li>
      <li>
        <%= link_to t('explore_maps_of_your_submissions'), [:my, :maps] %>
      </li>
      <li class="nav-header">
        <%= t('If_you_have_a_bGeigie') %>:
      </li>
      <li>
        <%= link_to t('Upload_a_bGeigie_log_file'), [:new, :my, :bgeigie_import] %>
      </li>
      <li>
        <%= link_to t('Review_your_bGeigie_log_file_submissions'), [:my, :bgeigie_imports] %>
      </li>
    </ul>
  </section>

  <section class="span6 dashboard">
    <ul class="unstyled">
        <li>
          <%= link_to [:my, :measurements] do %>
            <em>
              <%= number_with_delimiter current_user.measurements.count %>
            </em>
            <%= t('submissions') %>
          <%- end -%>
        </td>
      </li>
      <li>
          <%= link_to [:my, :maps] do %>
            <em><%= current_user.maps.count  %></em>
            <%= t('Maps') -%>
          <%- end -%>
      </li>
      <li>
          <%= link_to [:my, :bgeigie_imports] do %>
            <em><%= current_user.bgeigie_imports.count  %></em>
            <%= t('bgeigie_imports') -%>
          <%- end -%>
      </li>
    </ul>
    <%- if current_user.moderator? -%>
      <%- if @unapproved_bgeigie_imports.any? -%>
        <ul class="unstyled">
          <li>
            <%= link_to [:my, :bgeigie_imports]  do -%>
              <em><%= @unapproved_bgeigie_imports.count -%></em>
              <%= t('awaiting_approval') -%>
            <%- end -%>
          </li>
        </ul>
      <%- end -%>
    <%- end -%>
  </section>
</div>