<div class="row">
  <section class="span6">
    <%- if current_user.name.present? %>
      <h2><%= t('Hello') -%> <%= current_user.first_name %></h2>
    <%- end -%>

    <p>
      <%= t('Welcome to the Safecast API Center.') -%>
    </p>

    <ul class="nav nav-pills nav-stacked well">
      <li class="nav-header">
        <%= t('From here you can:') -%>
      </li>
      <li>
        <%= link_to t('View the Safecast API docs'), [:api, :root] %>
      </li>
      <li>
        <%= link_to t('Retrieve your API key'), [:my, :profile] %>
      </li>
      <li>
        <%= link_to t('Submit a reading from your device'), [:new, :my, :measurement] %>
      </li>
      <li>
        <%= link_to t('View your submission history'), [:my, :measurements] %>
      </li>
      <li>
        <%= link_to t('Explore maps of your submissions'), [:my, :maps] %>
      </li>
      <li class="nav-header">
        If you have a bGeigie:
      </li>
      <li>
        <%= link_to t('Upload a bGeigie log file'), [:new, :my, :bgeigie_import] %>
      </li>
      <li>
        <%= link_to t('Review your bGeigie log file submissions'), [:my, :bgeigie_imports] %>
      </li>
    </ul>
  </section>

  <section class="span6 dashboard">
    <ul class="unstyled">
        <li>
          <%= link_to [:my, :measurements] do %>
            <em>
              <%= number_with_delimiter current_user.measurements.count %>
            </em>
            <%= t('submissions') %>
          <%- end -%>
        </td>
      </li>
      <li>
          <%= link_to [:my, :maps] do %>
            <em><%= current_user.maps.count  %></em>
            <%= t('maps') -%>
          <%- end -%>
      </li>
      <li>
          <%= link_to [:my, :bgeigie_imports] do %>
            <em><%= current_user.bgeigie_imports.count  %></em>
            <%= t('bGeigie Imports') -%>
          <%- end -%>
      </li>
    </ul>
    <%- if current_user.moderator? -%>
      <%- if @unapproved_bgeigie_imports.any? -%>
        <ul class="unstyled">
          <li>
            <%= link_to [:my, :bgeigie_imports]  do -%>
              <em><%= @unapproved_bgeigie_imports.count -%></em>
              <%= t('awaiting approval') -%>
            <%- end -%>
          </li>
        </ul>
      <%- end -%>
    <%- end -%>
  </section>
</div>