<section>
  <div class="row">
    <div class="span6">
      <h2>Contribute your Measurement</h2>
      <%= form_for [:api, @measurement],
          :html => {
            :autocomplete => 'off',
            :class => 'form-horizontal',
            :id => 'submission'
          } do |f| %>
        <%- if @measurement.errors.any? -%>  
          <div class="alert">
            <ul>
              <%- @measurement.errors.full_messages.each do |message| -%>
                <li><%= message %></li>
              <%- end -%>
            </ul>
          </div>
        <%- end -%>
        <fieldset>
          <div class="control-group">
            <%= f.label :value, 'Radiation Level', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :value, { :class => 'level digit' } %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :unit, :class => 'control-label' %>
            <div class="controls">
              <%= f.select :unit, ['cpm', 'microsievert'], :id => 'unit' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :location_name, "Location", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :location_name, { :id => :location } %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :latitude, 'Latitude', :class => 'control-label' %>

            <div class="controls">
              <%= f.text_field :latitude, :id => 'latitude' %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :longitude, 'Longitude', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :longitude, :id => 'longitude' %>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
            <div class="control-group">
              <%= f.label :device_id, 'Device', :class => 'control-label' %>
              <div class="controls">
                <%= f.select :device_id, Device.all.collect { |d| [d.name, d.id]},
                      :id => 'longitude' %>
              </div>
            </div>
        </fieldset>        
        
        <fieldset>
          <legend>
            Environmental Details
          </legend>
          
          <div class="control-group">
            <%= f.label :height, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :height, :placeholder => "1m" %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :surface, "Surface type",
                  :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :surface, :placeholder => "Soil" %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :radiation, "Radiation type",
                  :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :radiation, :placeholder => "Air" %>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <p class="button">
            <input type="submit" value="Submit">
          </p>
        </fieldset>
      <%- end -%>
    </div>
    <div class="span6">
      <div id="map_canvas" class="map" style="width:460px; height: 460px"></div>
    </div>
  </div>
</section>