<%= render 'my/layouts/submit_nav' %>
<section>
  <%= form_for [:api, @measurement],
      :html => {
        :autocomplete => 'off',
        :class => 'form-horizontal submission',
        :id => 'submission'
      } do |f| %>
    <div class="row">
      <div class="span6">
        <h2><%= t('contribute_your_measurement') %></h2>
      </div>
      <div class="span6">
        <fieldset>
          <p class="button">
            <input type="submit" value="<%= t('submit') %>">
          </p>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%- if @measurement.errors.any? -%>  
          <div class="alert">
            <ul>
              <%- @measurement.errors.full_messages.each do |message| -%>
                <li><%= message %></li>
              <%- end -%>
            </ul>
          </div>
        <%- end -%>
        <fieldset class="level-reading">
          <legend>
            <%= t('basics') %>
          </legend>
          <div class="control-group reading">
            <%= f.label :value, t('radiation_level'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :value,
                    :class => 'digit level',
                    :value => @measurement.value.presence || '000' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :unit, :class => 'control-label' %>
            <div class="controls">
              <%= f.select :unit, [['μSv/h', 'microsievert'], [ t('clicks_per_minute'), 'cpm']], :selected => 'microsievert', :id => 'unit' %>
            </div>
          </div>
          
          <div class="control-group">
            <%= f.label :captured_at, t("date_taken"), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :captured_at %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :location, t("location"), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :location_name,
                    :id => :location,
                    :style => "height: 50px" %>
            </div>
            <p class="help-block"><%= t('type_address_instructions') %></p>
          </div>
        </fieldset>
      </div>
      <div class="span6">
        <div class="map-container">
          <div class="map-crosshair"></div>
          <div id="map_canvas" class="map"></div>
        </div>
        <fieldset>
          <div class="control-group">
            <%= label_tag :latitude, t('latitude'), :class => 'control-label' %>

            <div class="controls">
              <%= f.text_field :latitude, :id => 'latitude' %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :longitude, t('longitude'), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :longitude, :id => 'longitude' %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="span6">
        <fieldset>
          <legend>
            <%= t("device") %>
          </legend>
          <div class="control-group">
            <%= f.label :device_id, t("device"), :class => 'control-label' %>
            <div class="controls">
              <%= f.select :device_id, [['', nil]] + Device.all.collect { |d| [d.name, d.id]} %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="span6">
        <fieldset>
          <legend>
            Environment
          </legend>

          <div class="control-group">
            <%= f.label :height, t("height"), :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :height, :placeholder => t("1m") %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :surface, t("surface_type"),
                  :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :surface, :placeholder => t("soil") %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :radiation, t("radiation_type"),
                  :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :radiation, :placeholder => t("air") %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <fieldset>
          <p class="button">
            <input type="submit" value="<%= t('submit') %>">
          </p>
        </fieldset>
      </div>
    </div>
  <%- end -%>
</section>
