<section>
  <%= form_for [:api, @measurement],
      :html => {
        :autocomplete => 'off',
        :class => 'form-horizontal submission',
        :id => 'submission'
      } do |f| %>
    <div class="row">
      <div class="span6">
        <h2>Contribute your Measurement</h2>
      </div>
      <div class="span6">
        <fieldset>
          <p class="button">
            <input type="submit" value="Submit">
          </p>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%- if @measurement.errors.any? -%>  
          <div class="alert">
            <ul>
              <%- @measurement.errors.full_messages.each do |message| -%>
                <li><%= message %></li>
              <%- end -%>
            </ul>
          </div>
        <%- end -%>
        <fieldset class="level-reading">
          <legend>
            Basics
          </legend>
          <div class="control-group reading">
            <%= f.label :value, 'Radiation Level', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :value,
                    :class => 'digit level' %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :unit, :class => 'control-label' %>
            <div class="controls">
              <%= f.select :unit, ['cpm', 'microsievert'], :id => 'unit' %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :location, "Location", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :location_name, { :id => :location } %>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="span6">
        <div class="map-container">
          <div class="map-crosshair"></div>
          <div id="map_canvas" class="map"></div>
        </div>
        <fieldset>
          <div class="control-group">
            <%= label_tag :latitude, 'Latitude', :class => 'control-label' %>

            <div class="controls">
              <%= f.text_field :latitude, :id => 'latitude' %>
            </div>
          </div>

          <div class="control-group">
            <%= label_tag :longitude, 'Longitude', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :longitude, :id => 'longitude' %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <div class="span6">
        <fieldset>
          <legend>
            Device
          </legend>
          <div class="control-group">
            <%= f.label :device_id, 'Device', :class => 'control-label' %>
            <div class="controls">
              <%= f.select :device_id, Device.all.collect { |d| [d.name, d.id]},
                    :id => 'longitude' %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="span6">
        <fieldset>
          <legend>
            Environment
          </legend>

          <div class="control-group">
            <%= f.label :height, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :height, :placeholder => "1m" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :surface, "Surface type",
                  :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :surface, :placeholder => "Soil" %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :radiation, "Radiation type",
                  :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :radiation, :placeholder => "Air" %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <fieldset>
          <p class="button">
            <input type="submit" value="Submit">
          </p>
        </fieldset>
      </div>
    </div>
  <%- end -%>
</section>