<div class="row">
  <section class="span2 offset1">
    <ul class="nav nav-pills">
      <li><%= link_to t("edit_your_profile"), [:edit, :profile] %></li>
    </ul>
  </section>
  <section class="span6">
    <h2>
      <%= t('profile') %>
    </h2>
    <ul>
      <dt><%= t('name') %></dt>
      <dd><%= @user.name %></dd>
      <dt><%= t('time_zone') %></dt>
      <dd><%= @user.time_zone %></dd>
    </ul>
    <dl class="well">
      <dt><%= t('your_api_key') %></dt>
      <dd><%= @user.authentication_token %></dd>
    </dl>
  </section>
</div>