<ul class="unstyled nav" id="progress" data-status="<%= @bgeigie_import.status -%>">
  <li class="nav-header">
    <%= t 'Progress' %>
  </li>
  <li>
    <%= t 'Process file' -%>
    <%- if @bgeigie_import.status_details[:process_file].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t 'Import bGeigie logs' -%>
    <%- if @bgeigie_import.bgeigie_logs.any? -%>
      (<%= @bgeigie_import.bgeigie_logs.count -%> found)
    <%- else -%>
      (<%= t 'none found' -%>)
    <%- end -%>
    <%- if @bgeigie_import.status_details[:import_bgeigie_logs].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t('Compute latitudes &amp; longitudes').html_safe -%>
    <%- if @bgeigie_import.status_details[:compute_latlng].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t 'Approved by moderator' -%>
    <%- if @bgeigie_import.approved? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t 'Added to Safecast database' -%>
    <%- if @bgeigie_import.status_details[:measurements_added].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t 'Map created' -%>
    <%- if @bgeigie_import.status_details[:create_map].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
</ul>