<%- if @bgeigie_import.queued_for_processing? -%>
  <p class="alert">
    <%= t("file_queued_for_processing") %>
  </p>
<%- end -%>

<div class="row">
  <section class="span4">
    <h2>
      <%= t 'bgeigie_import' -%> #<%= @bgeigie_import.id -%>
    </h2>
    <%= render 'my/bgeigie_imports/status' -%>
    <%= render 'my/bgeigie_imports/details' -%>
    <%= render 'my/bgeigie_imports/progress' -%>
  </section>
  <%- if @bgeigie_import.status_details[:compute_latlng].present? -%>
    <section class="span8">
      <%- if @bgeigie_import.bgeigie_logs.any? -%>
        <input type="hidden" id="zoomlevel" value="12">
        <input id="latitude"
               type="hidden"
               value="<%= @bgeigie_import.bgeigie_logs.first.latitude %>"></input>
        <input id="longitude"
               type="hidden"
               value="<%= @bgeigie_import.bgeigie_logs.first.longitude %>"></input>
        <div id="map_canvas" class="high well"></div>
      <%- else -%>
        <p class="well">
          <%= t('map_displayed_once_file_processed') -%>
        </p>
      <%- end -%>
      <%= content_for(:additional_javascripts) do %>
        <script>
          $(function(){
            var points = <%= raw(@bgeigie_import.bgeigie_logs.collect do |b|
                                {:lat => b.latitude, :lng => b.longitude}
                             end.to_json) %>
            GoogleMap.addPoints(points)
            GoogleMap.fitPoints(points)
          })
        </script>
      <%- end -%>
    </section>
  <%- end -%>
</div>