<h2><%= t("bgeigie_imports") %></h2> 
<section>
  <h3><%= t("Yours") -%> (<%= link_to t("upload_a_bgeigie_log_file"), [:new, :my, :bgeigie_import] %>)</h3>
  <%- if @bgeigie_imports.empty? -%>
    <p><%= t("you_havent_uploaded_any_bgeigie_log_files") -%></p>
  <%- else -%>
    <ul class="unstyled">
      <%- @bgeigie_imports.each do |bgeigie_import| -%>
        <li>
          <%= link_to pluralize(bgeigie_import.measurements_count, 'measurement'), [:my, bgeigie_import] -%>
          <%= t 'on_date', :date => bgeigie_import.created_at.to_formatted_s(:default) -%>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
</section>

<%- if current_user.moderator? -%>
  <section>
    <%- if @unapproved_bgeigie_imports.any? -%>
      <h3><%= t('awaiting_approval') -%></h3>
      <ul class="unstyled">
        <%- @unapproved_bgeigie_imports.each do |bgeigie_import| -%>
          <li>
            <%= link_to pluralize(bgeigie_import.measurements_count, 'measurement'), [:my, bgeigie_import] -%>
            <%= t('uploaded_by', :name => link_to(bgeigie_import.user.name, bgeigie_import.user)).html_safe -%>
            <%= t 'on_date', :date => bgeigie_import.created_at.to_formatted_s(:default) %>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>
<%- end -%>
