<h2>bGeigie Imports</h2>
<section>
  <h3><%= t 'Yours' -%></h3>
  <%- if @bgeigie_imports.empty? -%>
    <p><%= t "You haven't uploaded any bGeigie log files." -%></p>
  <%- else -%>
    <ul class="unstyled">
      <%- @bgeigie_imports.each do |bgeigie_import| -%>
        <li>
          <%= link_to pluralize(bgeigie_import.measurements_count, 'measurement'), [:my, bgeigie_import] -%>
          <%= t 'on (date)' -%>
          <%= bgeigie_import.created_at.strftime("%e %B, %Y %H:%M:%S") -%>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
</section>

<%- if current_user.moderator? -%>
  <section>
    <%- if @unapproved_bgeigie_imports.any? -%>
      <h3><%= t('Awaiting approval') -%></h3>
      <ul class="unstyled">
        <%- @unapproved_bgeigie_imports.each do |bgeigie_import| -%>
          <li>
            <%= link_to pluralize(bgeigie_import.measurements_count, 'measurement'), [:my, bgeigie_import] -%>
            <%= t('uploaded by') -%>
            <%= link_to bgeigie_import.user.name, bgeigie_import.user -%>
            <%= t 'on (date)' %>
            <%= bgeigie_import.created_at.strftime("%e %B, %Y %H:%M:%S") -%>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>
<%- end -%>
