<div class="row">
  <section class="span3">
    <h2>
      bGeigie Import
      <%- if @bgeigie_import.status == 'done' -%>
        <span class="label label-info">
          Processed
        </span>
      <%- else -%>
        <span class="label label-info">
          <%= @bgeigie_import.status %>
        </span>
      <%- end -%>
    </h2>
    <%- if @bgeigie_import.status == 'processing' -%>
      <div class="progress progress-info progress-striped active">
        <div class="bar"
             style="width: 100%;"></div>
      </div>
    <%- end -%>

    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to "Download Original File",
                       @bgeigie_import.source.url %></li>
    </ul>
    <%- if @bgeigie_import.status == 'done' -%>
      <ul class="measurement bgeigie-log unstyled">
        <li class="value thin">
          <em class="block"><%= @bgeigie_import.bgeigie_logs.count %></em>
          measurements
        </li>
      </ul>
    <%- end -%>
  </section>
  <section class="span9">
    <input type="hidden" id="zoomlevel" value="12">
    <input id="latitude"
           type="hidden"
           value="<%= @bgeigie_import.bgeigie_logs.first.latitude %>"></input>
    <input id="longitude"
           type="hidden"
           value="<%= @bgeigie_import.bgeigie_logs.first.longitude %>"></input>
    <div id="map_canvas" class="high"></div>
  </section>
</div>

<%= content_for(:additional_javascripts) do %>
  <script>
    $(function(){
      var points = <%= raw(@bgeigie_import.bgeigie_logs.collect do |b|
                          {:lat => b.latitude, :lng => b.longitude}
                       end.to_json) %>
      console.log(GoogleMap.addPoints(points))
    })
  </script>
<%- end -%>