<div class="row">
  <h2><%= t('Measurements') -%></h2>
  <section class="span10 offset1">
    <%- if @measurements.empty? -%>
      <p><%= t("You haven't submitted any measurements yet.") -%></p>
    <%- else -%>
      <ul class="unstyled measurement-list">
        <%- @measurements.each do |measurement| -%>
          <li class="measurement">
            <%= link_to [:my, measurement] do %>
              <ul class="measurement-listed">
                <li class="value">
                  <em><%= measurement.value %></em>
                  <%= measurement.unit %>
                </li>
                <li class="lat-lng">
                  <em title="<%= measurement.latitude %>">
                    <%= truncate measurement.latitude.to_s, :length => 15 %>&deg;
                  </em>
                  <%= t('lat') %>
                </li>
                
                <li class="lat-lng">
                  <em title="<%= measurement.longitude %>">
                    <%= truncate measurement.longitude.to_s, :length => 15 %>&deg;
                  </em>
                  <%= t('lng') %>
                </li>
                <%- if measurement.captured_at.present? -%>
                  <li>
                    <%= measurement.captured_at.to_formatted_s(:default) %>
                  </li>
                <%- end -%>
                <%- if measurement.location_name.present? -%>
                  <li><%= measurement.location_name %></li>
                <%- end -%>
                
              </ul>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
      <%= will_paginate @measurements -%>
    <%- end -%>
  </section>
</div>