%section.brief
  %header
    %h2 Review your Submission
  = form_for [:api, Measurement.new(params[:measurement])] do |f|
    \{{#error_messages}}
    \  {{message}}
    \{{/error_messages}}
    %fieldset
      %header
        %h3 Reading
      .field
        %label{:for => "reading"} Reading
        = f.text_field :value, :placeholder => '000', :value => '{{value}}'
      .field
        %label{:for => "unit"} Units
        = f.text_field :unit, :placeholder => '', :value => '{{unit}}'
      .field
        %label{:for => "location"} Location
        = f.text_field :location_name, {:placeholder => '',
                                       :value => '{{location_name}}'}
      .field
        %label{:for => "latitude"} Latitude
        = f.text_field :latitude, {:placeholder => "",
                                    :id => :latitide,
                                    :value => "{{latitude}}"}
      .field
        %label{:for => "longitude"} Longitude
        = f.text_field :longitude, {:placeholder => "",
                                    :id => :longitude,
                                    :value => "{{longitude}}"}
    %fieldset
      %header
        %h3 Device
      .field
        %label{:for => "make"} Make
        %input#make{:name => "make", :placeholder => "Safecast", :type => "text"}/
      .field
        %label{:for => "model"} Model
        %input#model{:name => "model", :placeholder => "", :type => "text"}/
    %fieldset
      %header
        %h3 Environmental Details
      .field
        %label{:for => "height"} Height
        %input#height.digit{:name => "height", :placeholder => "1m", :type => "text"}/
      .field
        %label{:for => "surface"} Surface type
        %input#surface{:name => "surface", :placeholder => "Soil", :type => "text"}/
      .field
        %label{:for => "radiation"} Radiation type
        %input#radiation{:name => "radiation", :placeholder => "Air", :type => "text"}/
    %fieldset
      %p.button
        %input{:type => "submit", :value => "Confirm"}/
