<section>
  <header>
    <h2>Contribute your Measurement</h2>
    <div class="row">
      <%= form_for [:my, Measurement.new], :url => [:my, :measurements, :manifest],
          :html => {
            :method => :get,
            :autocomplete => 'off',
            :class => 'form-horizontal',
            :id => 'submission'
          } do |f| %>

            <div class="control-group">
              <%= f.label :value, 'Radiation Level', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :value, { :class => 'level digit' } %>
              </div>
            </div>

            <div class="control-group">
              <%= f.label :unit, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :unit, ['cpm', 'microsievert'], :id => 'unit' %>
              </div>
            </div>
            
            <div class="control-group">
              <%= f.label :location_name, "Location", :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :location_name, { :id => :location } %>
              </div>
            </div>
            
            <div class="control-group">
              <%= label_tag :latitude, 'Latitude', :class => 'control-label' %>
              
              <div class="controls">
                <%= f.text_field :latitude, :id => 'latitude' %>
              </div>
            </div>
            
            <div class="control-group">
              <%= label_tag :longitude, 'Longitude', :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :longitude, :id => 'longitude' %>
              </div>
            </div>
            
            
            <div id="map_canvas" class="map"></div>
        <fieldset>
          <p class="button">
            <input type="submit" value="Submit">
          </p>
        </fieldset>
    <%- end -%>
    </div>