<div class="row">
  <div class="span12">
    <h2>Your Measurement</h2>
  </div>
</div>
<div class="row">
  <section class="span6">
    <ul class="measurement unstyled">
      <li class="value">
        <em><%= @measurement.value %></em>
        <%= @measurement.unit %>
      </li>
      <li class="lat-lng">
        <em><%= @measurement.latitude %>&deg;</em>
        lat
      </li>
      <li class="lat-lng">
        <em><%= @measurement.longitude %>&deg;</em>
        lng
      </li>
      <li><%= @measurement.location_name %></li>
      <%- if @measurement.captured_at.present? -%>
        <li>
          taken on <%= @measurement.captured_at.strftime("%b %F") %>
        </li>
      <%- end -%>
    </ul>
  </section>
  <section class="span6">
    <div id="map_canvas"></div>
  </section>
</div>