<div class="row">
  <div class="span12">
    <h2><%= t('Your Measurement') -%></h2>
  </div>
</div>
<div class="row">
  <section class="span6">
    <ul class="measurement unstyled">
      <li class="value">
        <em><%= @measurement.value %></em>
        <%= @measurement.unit %>
      </li>
      <li class="lat-lng">
        <em title="<%= @measurement.latitude %>">
          <%= truncate(@measurement.latitude.to_s, :length => 15) %>&deg;
        </em>
        lat
      </li>
      <li class="lat-lng">
        <em title="<%= @measurement.longitude %>">
          <%= truncate(@measurement.longitude.to_s, :length => 15) %>&deg;
        </em>
        lng
      </li>
      <%- if @measurement.captured_at.present? -%>
        <li>
          <%= @measurement.captured_at.strftime("%e %B, %Y %H:%M:%S") %>
        </li>
      <%- end -%>
      <li><%= @measurement.location_name %></li>
    </ul>
  </section>
  <section class="span6">
    <div id="map_canvas"></div>
  </section>
</div>

<%= content_for(:additional_javascripts) do %>
  <script>
    $(function(){
      GoogleMap.setCenter(<%= @measurement.latitude %>,<%= @measurement.longitude %>)
    })
  </script>
<%- end -%>