<section>
  <header>
    <h2>Your Measurement</h2>
    <p>Submitted level is <%= @measurement.value %> <%= @measurement.unit %></p>
    
    <p>Location is <%= @measurement.location_name %></p>
    
    <p>
      Latitude is <%= @measurement.latitude %>
    </p>
    
    <p>
      Longitude is <%= @measurement.longitude %>
    </p>
    
  </header> 
</section>