<h2>Radiation Index</h2>
<hr/>

<div class="col-md-12 well visible-xs visible-sm" style="padding: 0px">
  <div class="btn-group" role="group" aria-label="">
    <%= rindex_nav_button(:average) %>
    <%= rindex_nav_button(:minimum) %>
    <%= rindex_nav_button(:maximum) %>
  </div>
</div>

<div class="navbar navbar-default hidden-xs hidden-sm">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <%= rindex_nav_li(:average) %>
      <%= rindex_nav_li(:minimum) %>
      <%= rindex_nav_li(:maximum) %>
    </ul>
  </div>
</div>
<p style="float:right">Last Updated: <%= File.mtime(@data_path).strftime("%F %T") %></p>

<table class="table">
  <thead>
  <th>Rank</th>
  <th>City</th>
  <th>Index (CPM)</th>
  </thead>
  <tbody>
  <% @sort_data.each_with_index do |(key,value),index| %>
    <tr>
      <td><%= index + 1%></td>
      <td><%= key %></td>
      <% unless value == -1 %>
        <td><%= value %></td>
      <% else %>
        <td>Not enough Data!</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
