%section.brief
  %header
    %h2 Register or Sign in
    %nav= link_to(raw("(or continue anonymously) &rarr;"), "/reading")
  = form_for(resource, :as => resource_name,
                       :url => session_path(resource_name),
                       :html => { :id => 'signup-register-form'}) do |f|
    - if resource.errors.any?
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message
    %fieldset.register
      %div.field
        = label_tag 'email-field', 'Email'
        = f.email_field :email, :placeholder => 'sean@seanbonner.com',
                                :id => 'email-field',
                                :autofocus => true
      %div{:id => 'name-field',
           :class => registering? ? 'field' : 'field hidden'}
        = f.label :name
        = f.text_field :name, :placeholder => "Name"
      %div.field
        = f.label :password
        = f.password_field :password, :placeholder => "Password"
    %fieldset
      %p#note.note Enter your email to begin.
      %p.button
        - if devise_mapping.rememberable?
          = f.hidden_field :remember_me, :value => 1
        =f.submit registering? ? 'Register' : "Sign in",
                  :id => 'sign-in-register'

= render :partial => "devise/shared/links"      