= content_for(:title) { t('.bgeigie_imports') }

%h2= t('.rejected')

- if @bgeigie_imports.empty?
  = t('none_found')
- else
  %table.table.table-striped.table-hover
    %thead
      %th ID
      %th Created At
      %th User ID
      %th Source
      %th Maximum CPM
      %th Status Details

    %tbody
      - @bgeigie_imports.each do |bgeigie_import|
        %tr
          %td= bgeigie_import.id
          %td= bgeigie_import.created_at_formatted
          %td= link_to bgeigie_import.user.name, bgeigie_import.user
          %td= link_to File.basename(bgeigie_import.source.filename), bgeigie_import
          %td= bgeigie_import.maximum_cpm
          %td
            %ul
              - status_details(bgeigie_import).each do |s|
                %li= s

  = paginate @bgeigie_imports, theme: 'twitter-bootstrap-2'
