<%= current_page_api_example :devices_url %>

<ul class="inline pull-right">
  <li>
    <%= link_to t('.add_a_device'), [:new, :device], :class => 'btn' %>
  </li>
</ul>

<h2><%= t(".devices") %></h2>

<%- if @devices.empty? -%>
  <%= t('.no_devices') %>
<%- else -%>
  <table class="table">
    <thead>
      <th><%= t('.manufacturer') %></th>
      <th><%= t('.model') %></th>
      <th><%= t('.sensor') %></th>
    </thead>
    <tbody>
      <%- @devices.each do |device| -%>
        <tr>
          <td>
            <%= link_to device.manufacturer, device %>
          </td>
          <td>
            <%= device.model %>
          </td>
          <td>
            <%= device.sensor %>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>