<%= current_page_api_example :devices_url %>
<%= content_for(:title) do %>
  <%= t('.devices') %>
<%- end -%>

<ul class="inline pull-right">
  <li>
    <%= link_to t('.add_a_device'), [:new, :device], :class => 'btn' %>
  </li>
</ul>

<h2><%= t(".devices") %></h2>

<%= summarize_results(@devices) %>

<%= show_filters :device, [:manufacturer, :model, :sensor] %>

<%= filter_modal :devices do %>
  <%= filter_field :device, :manufacturer %>
  <%= filter_field :device, :model %>
  <%= filter_field :device, :sensor %>
<%- end -%>

<%- if @devices.empty? -%>
  <%= t('.no_devices') %>
<%- else -%>
  <table class="table">
    <thead>
      <%= table_sort_header(:device, :id) %>
      <%= table_sort_header(:device, :manufacturer) %>
      <%= table_sort_header(:device, :model) %>
      <%= table_sort_header(:device, :sensor) %>
      <%= table_sort_header(:device, :measurements_count) %>
    </thead>
    <tbody>
      <%- @devices.each do |device| -%>
        <tr>
          <td>
            <%= device.id %>
          </td>
          <td>
            <%= link_to device.manufacturer, device %>
          </td>
          <td>
            <%= device.model %>
          </td>
          <td>
            <%= device.sensor %>
          </td>
          <td>
            <%= link_to [device, :measurements] do %>
              <%= number_with_delimiter device.measurements_count %>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>