<%= content_for(:title) do %>
  <%= t('.add_new_device') %>
  \\
  <%= t('devices.index.devices') %>
<%- end -%>

<h2><%= t('.add_new_device') %></h2>

<%= simple_form_for @device, :html => {:class => 'form-horizontal'} do |f| %>
  <%= f.input :manufacturer %>
  <%= f.input :model %>
  <%= f.input :sensor %>

  <%= f.button :wrapped %>
<%- end -%>