= content_for(:title) { t('.bgeigie_imports') }

%h2= t('.awaiting_response')

- if @bgeigie_imports.empty?
  = t('none_found')
- else
  %table.table.table-striped.table-hover
    %thead
      %th ID
      %th Created At
      %th User ID
      %th Source
      %th Contacted By
      %th Contacted On

    %tbody
      - @bgeigie_imports.each do |bgeigie_import|
        %tr
          %td= bgeigie_import.id
          %td= bgeigie_import.created_at_formatted
          %td= link_to bgeigie_import.user.name, bgeigie_import.user
          %td= link_to File.basename(bgeigie_import.source.filename), bgeigie_import
          - contact = bgeigie_import.uploader_contact_histories.order(:created_at).first
          %td= contact.administrator.name
          %td= contact.created_at


  = paginate @bgeigie_imports, theme: 'twitter-bootstrap-2'
