<p>There is a Safecast import awaiting moderator approval.</p>

<p>Click <%= link_to "here", bgeigie_import_url(@import,
                                                :host => 'api.safecast.org',
                                                :protocol => 'https') %> to view it.</p>
<p>Import filename: <%= @import.filename %></p>
<p>Import type: <%= @import.type %></p>
<p>Status: <%= @import.status %></p>
<p>Measurements Count: <%= @import.measurements_count %></p>
<p>Created At: <%= @import.created_at %></p>
<p>Updated At: <%= @import.updated_at %></p>
<p>User Name: <%= @import.user.name %></p>
<p>User Email: <%= @import.user.email %></p>
<p>Name: <%= @import.name %></p>
<p>Description: <%= @import.description %></p>
<p>Lines Count: <%= @import.lines_count %></p>
<p>Credits: <%= @import.credits %></p>
<p>Height: <%= @import.height %></p>
<p>Orientation: <%= @import.orientation %></p>
<p>Cities: <%= @import.cities %></p>
<p>Cities: <%= @import.subtype %></p>
<p>Comment: <%= @import.comment %></p>
