<%= content_for(:title) { t('.users') } %>

<h2><%= t(".users") -%></h2>

<%= summarize_results(@users) %>

<%= show_filters :user, [:name] %>

<%= filter_modal :users do %>
  <%= filter_field :user, :name %>
<%- end -%>

<%- if @users.empty? -%>
  <p><%= t('none_found') %></p>
<%- else -%>

  <table class="table table-striped table-hover" data-provides="rowlink">
    <thead>
      <%= table_sort_header(:user, :id) %>
      <%= table_sort_header(:user, :name) %>
      <%= table_sort_header(:user, :measurements_count) %>
    </thead>
    <tbody>
      <%- @users.each do |user| -%>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= link_to user.name, user %>
          </td>
          <td>
            <%= link_to user_measurements_path(user) do %>
              <%= number_with_delimiter user.measurements_count %>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  <%= paginate @users, theme: 'twitter-bootstrap' %>
<%- end -%>
<div class="spacer"></div>
<%= current_page_api_example :users_url %>
