<ul class="list-unstyledunstyled nav" id="progress" >
  <li class="nav-header">
    <h4><%= "Status" %></h4>
  </li>
  <li>
    <%= t('.no_cpm_equals_zero') %>
    <%= ok_remove_tag { @bgeigie_import.auto_apprv_no_zero_cpm } %>
  </li>
  <li>
    <%= t('.no_high_cpm') %>
    <%= ok_remove_tag { @bgeigie_import.auto_apprv_no_high_cpm } %>
  </li>
  <li>
    <%= t('.valid_gps') %>
    <%= ok_remove_tag { @bgeigie_import.auto_apprv_gps_validity } %>
  </li>
  <li>
    <%= t('.frequent_bgeigie_id') %>
    <%= ok_remove_tag { @bgeigie_import.auto_apprv_frequent_bgeigie_id } %>
  </li>
  <li>
    <%= t('.good_bgeigie_id') %>
    <%= ok_remove_tag { @bgeigie_import.auto_apprv_good_bgeigie_id } %>
  </li>
  <li>
    <%= t('.would_auto_approve') %>
    <%= ok_remove_tag { @bgeigie_import.would_auto_approve } %>
  </li>
</ul>
