<ul class="unstyled nav" id="progress" >
  <li class="nav-header">
    <%= "Status" %>
  </li>
  <li>
    <%= t('.no_cpm_equals_zero') %>
    <%= auto_approve_zero_cpm_status(@bgeigie_import) %>
  </li>
  <li>
    <%= t('.no_high_cpm') %>
    <%= auto_approve_high_cpm_status(@bgeigie_import) %>
  </li>
  <li>
    <%= t('.valid_gps') %>
    <%= auto_approve_valid_gps_stats(@bgeigie_import) %>
  </li>
  <li>
    <%- if @bgeigie_import.would_auto_approve -%>
      <%= t('would_auto_approve') %>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <%= t('would_auto_approve') %>
      <i class="icon-remove pull-right"></i>
    <%- end -%>
  </li>
</ul>
