<%- if @bgeigie_import.name.present? || 
  @bgeigie_import.description.present?  ||
  @bgeigie_import.credits.present? ||
  @bgeigie_import.cities.present? ||
  @bgeigie_import.height.present? ||
  @bgeigie_import.orientation.present?||
  @bgeigie_import.subtype.present? ||
  @bgeigie_import.comment.present? %>
  <ul class="unstyled nav">
    <li class="nav-header"><%= t(".details") %></li>
    <%- if @bgeigie_import.name.present? -%>
      <li>
        <%= t ".title" -%>
        <span class="pull-right"><%= @bgeigie_import.name %></span>
      </li>
    <%- end -%>
    <%- if @bgeigie_import.description.present? -%>
      <li>
        <%= t ".description" -%>
        <span class="pull-right"><%= @bgeigie_import.description %></span>
      </li>
    <%- end -%>
    <%- if @bgeigie_import.credits.present? -%>
      <li>
        <%= t ".credits" -%>
        <span class="pull-right"><%= @bgeigie_import.credits_as_string %></span>
      </li>
    <%- end -%>
    <%- if @bgeigie_import.cities.present? -%>
      <li>
        <%= t ".cities" -%>
        <span class="pull-right"><%= @bgeigie_import.cities_as_string %></span>
      </li>
    <%- end -%>
    <%- if @bgeigie_import.height.present? -%>
      <li>
        <%= t ".sensor_height" -%>
        <span class="pull-right"><%= @bgeigie_import.height %>m</span>
      </li>
    <%- end -%>
    <%- if @bgeigie_import.orientation.present? -%>
      <li>
        <%= t ".sensor_orientation" -%>
        <span class="pull-right"><%= @bgeigie_import.orientation %></span>
      </li>
    <%- end -%>
    <%- if @bgeigie_import.subtype.present? -%>
      <li>
        <%= t ".sensor_subtype" -%>
        <span class="pull-right"><%= @bgeigie_import.subtype %></span>
      </li>
    <%- end -%>
    <%- if admin? -%>
        <%- if @bgeigie_import.comment.present? -%>
          <li>
            <%= t ".comment" -%>
            <span class="pull-right"><%= @bgeigie_import.comment %></span>
          </li>
          <%- end -%>
    <%- end -%>
  </ul>
<%- end -%>