<div class="row">
  <%= render 'static_metadata' %>
  <div class="span8">
    <%= simple_form_for @bgeigie_import do |f| %>
      <%= f.input :name %>
      <%= f.input :description, :input_html => {:rows => 3, :class => 'span6'} %>
      <%= f.input :credits_as_string, :as => :text, :input_html => {:rows => 3, :class => 'span6'} %>
      <%= f.input :cities_as_string, :as => :text, :input_html => {:rows => 3, :class => 'span6'} %>
      <%= f.input :height %>
      <%= f.input :orientation %>
      <%= f.button :wrapped, :cancel => @bgeigie_import %>
    <%- end -%>
  </div>
</div>