<div class="row">
  <%= render 'static_metadata' %>
  <div class="span8">
    <%= simple_form_for @bgeigie_import do |f| %>
      <%= f.input :name,
                  :input_html => {:class => 'span5'},
                  :label_html => {
                    :class => 'activate-tooltip',
                    :data => {
                      'original-title' => t('.title_tooltip'),
                      :placement => 'right'
                    }
                  }
      %>
      <%= f.input :description,
                  :input_html => {
                    :rows => 3,
                    :class => 'span5'
                  },
                  :label_html => {
                    :class => 'activate-tooltip',
                    :data => {
                      'original-title' => t('.description_tooltip'),
                      :placement => 'right'
                    }
                  }
      %>
      <%= f.input :credits,
                  :as => :text,
                  :input_html => {
                    :rows => 3,
                    :class => 'span5'
                  },
                  :label_html => {
                    :class => 'activate-tooltip',
                    :data => {
                      'original-title' => t('.credits_tooltip'),
                      :placement => 'right'
                    }
                  }
      %>
      <%= f.input :cities,
                  :as => :text,
                  :input_html => {
                    :rows => 3,
                    :class => 'span5'
                  },
                  :label_html => {
                    :class => 'activate-tooltip',
                    :data => {
                      'original-title' => t('.cities_tooltip'),
                      :placement => 'right'
                    }
                  }
      %>
      <%= f.input :height,
                  :input_html => {
                    :class => 'span2'
                  },
                  :label_html => {
                    :class => 'activate-tooltip',
                    :data => {
                      'original-title' => t('.height_tooltip'),
                      :placement => 'right'
                    }
                  }
      %>
      <%= f.input :orientation, :collection => [
        'Facing Side',
        'Facing Down',
        'Facing Front',
        'Facing Back',
        'Facing Up'
        ],  :label_html => {
              :class => 'activate-tooltip',
              :data => {
                'original-title' => t('.orientation_tooltip'),
                :placement => 'right'
              }
            }
      %>
      <%= f.button :wrapped, :cancel => @bgeigie_import %>
    <%- end -%>
  </div>
</div>