<div class="row">
  <div class="span9">
    <%= render 'current_status' %>
    <%- if content_for?(:current_status) -%>
      <div id="current-status"><%= content_for(:current_status) %></div>
    <%- end -%>
    <ul class="inline nav-stacked pull-right">
      <%- if user_signed_in? -%>
        <%# buttons in this block are logged-in users %>
        <%- if current_user.moderator? -%>
          <%# buttons in this block such as "Approve", "Reject" and "Fix Drive" are for only moderator %>
          <%- unless @bgeigie_import.rejected? -%>
            <%# buttons are shown only if import has not been rejected %>
            <%- if @bgeigie_import.approved? -%>
              <%# if import has been approved, show "Fix Drive" button %>
              <li>
                <%= form_for [:fixdrive, @bgeigie_import] do |f| %>
                  <%= f.submit t('.fixdrive'), class: 'btn btn-primary' %>
                <%- end -%>
              </li>
            <%- else %>
              <%- case @bgeigie_import.status -%>
              <%- when 'processed' -%>
                <%# when import has been processed, moderator could reject %>
                <li>
                  <%= form_for @bgeigie_import, url: { action: 'reject' } do |f| %>
                    <%= f.submit t('.reject'), class: 'btn btn-primary' %>
                  <%- end -%>
                </li>
              <%- when 'submitted' -%>
                <%# when import has been submitted, moderator could approve or reject %>
                <li>
                  <%= form_for @bgeigie_import, url: { action: 'reject' } do |f| %>
                    <%= f.submit t('.reject'), class: 'btn btn-primary' %>
                  <%- end -%>
                </li>
                <li>
                  <%= form_for @bgeigie_import, url: { action: 'approve' } do |f| %>
                    <%= f.submit t('.approve'), class: 'btn btn-primary' %>
                  <%- end -%>
                </li>
              <%- when 'unprocessed' -%>
                <%# when import has not been processed, moderator could process manually %>
                <li>
                  <%= form_for @bgeigie_import, url: { action: 'process_button' } do |f| %>
                    <%= f.submit t('.process_button'), class: 'btn btn-primary' %>
                  <%- end -%>
                </li>
              <%- end -%>
            <%- end -%>
          <%- end -%>
        <%- elsif @bgeigie_import.user == current_user %>
          <%- unless @bgeigie_import.rejected? -%>
            <%- unless @bgeigie_import.approved? -%>
              <%# user can reject import if it has not been approved nor rejected %>
              <li>
                <%= form_for @bgeigie_import, url: { action: 'reject' } do |f| %>
                  <%= f.submit t('.reject'), class: 'btn btn-primary' %>
                <%- end -%>
              </li>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      <%- end -%>
      <li>
        <%= link_to t('.download_in_kml'), kml_bgeigie_import_path(@bgeigie_import), class: 'btn' %>
      </li>
      <li>
        <%= link_to t(".download_original_file"),
              @bgeigie_import.source.url,
              :class => 'btn' %>
      </li>
    </ul>

    <h2>
      <%= t '.bgeigie_import' -%> #<%= @bgeigie_import.source.filename -%>

      <small>
        <%= render 'bgeigie_imports/status' -%>
      </small>
    </h2>
    <% if @bgeigie_import.processed? %>
      <em><%= t('.reload_to_see_map') -%></em>
    <% end %>
  </div>
</div>

<div id="progress">
  <%= render :partial => 'progress' %>
</div>
