<div class="row">
  <div class="col-xs-12">
    <%= render 'current_status' %>
    <%- if content_for?(:current_status) -%>
      <div id="current-status"><%= content_for(:current_status) %></div>
    <%- end -%>
    <div class="donate-banner">
      <%# display support banner to all users%>
      <h5> Safecast is powered by community contributors, just like you! Support us by 
        <a href="https://safecast.org/donate//">DONATING</a>
        or 
        <a href="https://shop.safecast.org/">SHOPPING IN OUR STORE</a>
      </h5>
    </div>
    <p>
    <div class="row">
      <div class="col-xs-2 text-left">
        <%- if user_signed_in? -%>
          <%# buttons in this block are logged-in users %>
          <%- if current_user.moderator? -%>
            <%# buttons in this block such as "Approve", "Reject" and "Fix Drive" are for only moderator %>
            <%- unless @bgeigie_import.rejected? -%>
              <%# buttons are shown only if import has not been rejected %>
              <%- if @bgeigie_import.approved? -%>
                <%# if import has been approved, show "Fix Drive" button %>
                <%= operation_button(@bgeigie_import, 'fixdrive') %>
              <%- else %>
                <%- case @bgeigie_import.status -%>
                <%- when 'processed' -%>
                  <%# when import has been processed, moderator could reject %>
                  <%= operation_button(@bgeigie_import, 'reject') %>
                <%- when 'submitted' -%>
                  <%# when import has been submitted, moderator could approve or reject %>
                  <%= operation_button(@bgeigie_import, 'reject') %>
                  <%= operation_button(@bgeigie_import, 'approve') %>
                <%- when 'unprocessed' -%>
                  <%# when import has not been processed, moderator could process manually %>
                  <%= operation_button(@bgeigie_import, 'process_button') %>
                <%- when 'awaiting_response' -%>
                  <%# when import has not been processed, moderator could process manually %>
                  <%= operation_button(@bgeigie_import, 'resolve', 'Resolve') %>
                <%- end -%>
              <%- end -%>
            <%- end -%>
          <%- elsif @bgeigie_import.user == current_user %>
            <%- unless @bgeigie_import.rejected? -%>
              <%- unless @bgeigie_import.approved? -%>
                <%# user can reject import if it has not been approved nor rejected %>
                <%= operation_button(@bgeigie_import, 'reject') %>
              <%- end -%>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      </div>

      <div class="col-xs-10 col-xs-offset-10">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" id="download-menu" data-toggle="dropdown">
            <%= t('Download') %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="download-menu">
            <li>
              <%= link_to 'KML', kml_bgeigie_import_path(@bgeigie_import) %>
            </li>
            <li>
              <%= link_to 'KMZ', kmz_bgeigie_import_path(@bgeigie_import) %>
            </li>
            <li>
              <%= link_to t('Original'), @bgeigie_import.source.url, download: '' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <hr/>
    <div class="row">
      <div class="col-xs-12">
        <h2 style="margin-top: 0px;">
          <%= t '.bgeigie_import' -%> #<%= @bgeigie_import.source.filename -%>
          <small>
            <%= render 'bgeigie_imports/status' -%>
          </small>
        </h2>
        <hr/>
      </div>
    </div>
    <% if @bgeigie_import.processed? %>
      <em><%= t('.reload_to_see_map') -%></em>
    <% end %>
  </div>
</div>

<div id="progress">
  <%= render :partial => 'progress' %>
</div>
