<%= render 'current_status' %>

<div class="row">
  <div class="span12">
    <ul class="inline nav-stacked pull-right">
      <%- if @bgeigie_import.awaiting_approval? && user_signed_in? && current_user.moderator? -%>
        <li>
          <%= form_for [:approve, @bgeigie_import] do |f| %>
            <%= f.submit t('.approve'), :class => 'btn btn-primary' %>
          <%- end -%>
        </li>
      <%- end -%>
      <li>
        <%= link_to t(".download_original_file"),
              @bgeigie_import.source.url,
              :class => 'btn' %>
      </li>
    </ul>

    <h2>
      <%= truncate @bgeigie_import.source.filename %>

      <small>
        <%= render 'bgeigie_imports/status' -%>
        <i title="<%= t('uploaded_by', :name => @bgeigie_import.user.name_or_email) %>" class="icon-user"></i>
        <%= @bgeigie_import.user.name_or_email %>
        <%= @bgeigie_import.lines_count %> <%= t('.lines') %>,
        <%= t('.no_measurements_yet') unless @bgeigie_import.processed? %>
        <%= t('.no_of_measurements', :count => @bgeigie_import.bgeigie_logs.count.to_i) if @bgeigie_import.processed? %>
      </small>
    </h2>
  </div>
</div>

<div id="progress">
  <%= render :partial => 'progress' %>
</div>