<div class="row">
  <div class="span9">
    <%= render 'current_status' %>
    <%- if content_for?(:current_status) -%>
      <div id="current-status"><%= content_for(:current_status) %></div>
    <%- end -%>

    <ul class="inline nav-stacked pull-right">
      <%- if @bgeigie_import.awaiting_approval? && user_signed_in? && current_user.moderator? -%>
        <li>
          <%= form_for [:approve, @bgeigie_import] do |f| %>
            <%= f.submit t('.approve'), :class => 'btn btn-primary' %>
          <%- end -%>
        </li>
	    <%- end -%>

        <%- if !@bgeigie_import.awaiting_approval? && user_signed_in? && current_user.moderator? && @bgeigie_import.approved? && !@bgeigie_import.done? -%>
          <li>
          <%= form_for [:fixdrive, @bgeigie_import] do |f| %>
            <%= f.submit t('.fixdrive'), :class => 'btn btn-primary' %>
            <%- end -%>
          </li>
      <%- end -%>

      <li>
        <%= link_to t(".download_original_file"),
              @bgeigie_import.source.url,
              :class => 'btn' %>
      </li>
    </ul>

    <h2>
      <%= t '.bgeigie_import' -%> #<%= @bgeigie_import.source.filename -%>

      <small>
        <%= render 'bgeigie_imports/status' -%>
      </small>
    </h2>
    <% if @bgeigie_import.processed? %>
      <em><%= t('.reload_to_see_map') -%></em>
    <% end %>
  </div>
</div>

<div id="progress">
  <%= render :partial => 'progress' %>
</div>
