<ul class="unstyled nav" id="progress" data-status="<%= @bgeigie_import.status -%>">
  <li class="nav-header">
    <%= t '.progress' %>
  </li>
  <li>
    <%- if @bgeigie_import.status_details[:process_file].present? -%>
      <%= t('process_file') %> (<%= t(".count_lines", :count => @bgeigie_import.lines_count) -%>)
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <%= t('.process_file') %>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t '.import_bgeigie_logs' -%>
    <%- if @bgeigie_import.bgeigie_logs.any? -%>
      (<%= t('.count_found', :count => @bgeigie_import.bgeigie_logs.size) %>)
    <%- else -%>
      (<%= t '.none_found' -%>)
    <%- end -%>
    <%- if @bgeigie_import.status_details[:import_bgeigie_logs].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t('.compute_latlng').html_safe -%>
    <%- if @bgeigie_import.status_details[:compute_latlng].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t '.approved_by_moderator' -%>
    <%- if @bgeigie_import.approved? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
  <li>
    <%= t '.added_to_safecast_database' -%>
    <%- if @bgeigie_import.status_details[:measurements_added].present? -%>
      <i class="icon-ok pull-right"></i>
    <%- else -%>
      <span class="pull-right">&hellip;</span>
    <%- end -%>
  </li>
</ul>
