<div class="row">
  <%= render 'static_metadata' %>
  <div class="span8">
    <dl class="dl-horizontal">
      <dt>
        <%= t('.description') %>
      </dt>
      <dd>
        <%- if @bgeigie_import.description.present? -%>
          <%= simple_format @bgeigie_import.description %>
        <%- else -%>
          <%= t('.none') %>
        <%- end -%>
      </dd>
      <dt>
        <%= t('.credits') %>
      </dt>
      <dd>
        <%= @bgeigie_import.credits if @bgeigie_import.credits.present? %>
        <%= t('.none') if @bgeigie_import.credits.blank? %>
      </dd>
      <dt>
        <%= t('.height') %>
      </dt>
      <dd>
        <%= "#{@bgeigie_import.height}m" if @bgeigie_import.height.present? %>
        <%= t('.not_set') if @bgeigie_import.height.blank? %>
      </dd>
      <dt>
        <%= t('.orientation') %>
      </dt>
      <dd>
        <%= @bgeigie_import.orientation if @bgeigie_import.orientation.present? %>
        <%= t('.not_set') if @bgeigie_import.orientation.blank? %>
      </dd>
      <dt>
        <%= t('.cities') %>
      </dt>
      <dd>
        <%= @bgeigie_import.cities if @bgeigie_import.cities.present? %>
        <%= t('.not_set') if @bgeigie_import.cities.present? %>
      </dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= link_to t('.delete_this_import'), '#delete-log', :data => {
      :toggle => 'modal'
    }, :class => 'pull-right muted' %>
  </div>
</div>

<div id="delete-log" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t('.confirm_delete') %></h3>
  </div>
  <div class="modal-body">
    <p><%= t('.about_to_delete') %></p>
  </div>
  <div class="modal-footer">
    <%= form_for @bgeigie_import,
          :method => :delete do |f| %>
      <%= f.submit t('.confirm_delete'), :class => 'btn btn-danger' %>
      <%= link_to t('cancel'), '#delete-log', :data => {
            :toggle => 'modal'
          } %>
    <%- end -%>
  </div>
</div>