<div class="row">
  <%= render 'static_metadata' %>
  <div class="col-md-10">
    <h4>
      <%= t('.metadata') %>
    </h4>
    <dl class="dl-horizontal well">
      <dt>
        <%= t('.title') %>
      </dt>
      <dd>
        <%- if @bgeigie_import.name.present? -%>
          <%= @bgeigie_import.name %>
        <%- else -%>
          <%= t('.none') %>
        <%- end -%>
      </dd>
      <dt>
        <%= t('.description') %>
      </dt>
      <dd>
        <%- if @bgeigie_import.description.present? -%>
          <%= simple_format @bgeigie_import.description %>
        <%- else -%>
          <%= t('.none') %>
        <%- end -%>
      </dd>
      <dt>
        <%= t('.credits') %>
      </dt>
      <dd>
        <%= @bgeigie_import.credits if @bgeigie_import.credits.present? %>
        <%= t('.none') if @bgeigie_import.credits.blank? %>
      </dd>
      <dt>
        <%= t('.height') %>
      </dt>
      <dd>
        <%= "#{@bgeigie_import.height}m" if @bgeigie_import.height.present? %>
        <%= t('.not_set') if @bgeigie_import.height.blank? %>
      </dd>
      <dt>
        <%= t('.orientation') %>
      </dt>
      <dd>
        <%= @bgeigie_import.orientation if @bgeigie_import.orientation.present? %>
        <%= t('.not_set') if @bgeigie_import.orientation.blank? %>
      </dd>
      <dt>
        <%= t('.subtype') %>
      </dt>
      <dd>
        <%= @bgeigie_import.subtype if @bgeigie_import.subtype.present? %>
        <%= t('.not_set') if @bgeigie_import.subtype.blank? %>
      </dd>
      <dt>
        <%= t('.cities') %>
      </dt>
      <dd>
        <%= @bgeigie_import.cities if @bgeigie_import.cities.present? %>
        <%= t('.none') if @bgeigie_import.cities.blank? %>
      </dd>
      <dt>
      <%= t('.comment') %>
      </dt>
      <dd>
        <%= @bgeigie_import.comment if @bgeigie_import.comment.present? %>
        <%= t('.none') if @bgeigie_import.comment.blank? %>
      </dd>
    </dl>
  </div>
</div>

<%= render "delete" if !@bgeigie_import.approved? && (current_user == @bgeigie_import.user || current_user.try(:moderator?)) %>
