<%- if @bgeigie_import.status == 'done' -%>
  <span class="label label-success">
    <%= t('.processed') -%>
  </span>
<%- elsif @bgeigie_import.status == 'awaiting_approval' -%>
  <span class="label label-warning">
    <%= t '.awaiting_approval' -%>
  </span>
<%- else -%>
  <span class="label label-info">
    <%= @bgeigie_import.status.humanize %>
  </span>
<%- end -%>
<%- if user_signed_in? && approval_participant?(@bgeigie_import)-%>
  <%- if @bgeigie_import.rejected? -%>
    <span class="label label-warning">
      Rejected by: <%= @bgeigie_import.rejected_by %>
    </span>
    <span class="status-text">
      <b>comment:</b>
      <%= @bgeigie_import.comment if @bgeigie_import.comment.present? %>
    </span>
  <%- elsif @bgeigie_import.approved? -%>
    <span class="label label-success">
      Approved by: <%= @bgeigie_import.approved_by %>
    </span>
  <%- end -%>
<%- end -%>
<%- if !@bgeigie_import.rejected? && @bgeigie_import.awaiting_approval? && user_signed_in? && current_user.moderator? -%>
<span class="status-text">If rejecting, please enter a comment in Metadata.</span>
<%- end -%>
