<h2><%= t("bgeigie_imports") %></h2>

<%- if user_signed_in? %>
  <section>
    <h3><%= t("yours") -%> (<%= link_to t("upload_a_bgeigie_log_file"), [:new, :my, :bgeigie_import] %>)</h3>
    <%- if @your_bgeigie_imports.empty? -%>
      <p><%= t("you_havent_uploaded_any_bgeigie_log_files") -%></p>
    <%- else -%>
      <ul class="unstyled">
        <%- @your_bgeigie_imports.each do |bgeigie_import| -%>
          <li>
            <% if bgeigie_import.name.present? %>
              <%= link_to bgeigie_import.name, bgeigie_import -%>
            <% else %>
              <%= link_to '[unnamed]', bgeigie_import -%>
            <% end %>
            (<%= pluralize(bgeigie_import.measurements_count, 'measurement') -%>)
            <%= t 'on_date', :date => bgeigie_import.created_at.to_formatted_s(:default) -%>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>

  <%- if current_user.moderator? and @unapproved_bgeigie_imports.any? -%>
    <section>
      <h3><%= t("awaiting_approval") -%></h3>
      <ul class="unstyled">
        <%- @unapproved_bgeigie_imports.each do |bgeigie_import| -%>
          <li>
            <% if bgeigie_import.name.present? %>
              <%= link_to bgeigie_import.name, bgeigie_import -%>
            <% else %>
              <%= link_to '[unnamed]', bgeigie_import -%>
            <% end %>
            (<%= pluralize(bgeigie_import.measurements_count, 'measurement') -%>)
            <%= t("uploaded_by", :name => link_to(bgeigie_import.user.name, bgeigie_import.user)).html_safe -%>
            <%= t("on_date", :date => bgeigie_import.created_at.to_formatted_s(:default)) %>
          </li>
        <%- end -%>
      </ul>
    </section>
  <%- end -%>
<%- end -%>

<section>
  <h3><%= t("public") -%></h3>
  <%- if @public_bgeigie_imports.empty? -%>
    <p><%= t("no_bgeigie_log_files_have_been_uploaded") -%></p>
  <%- else -%>
    <ul class="unstyled">
      <%- @public_bgeigie_imports.each do |bgeigie_import| -%>
        <li>
          <% if bgeigie_import.name.present? %>
            <%= link_to bgeigie_import.name, bgeigie_import -%>
          <% else %>
            <%= link_to '[unnamed]', bgeigie_import -%>
          <% end %>
          (<%= pluralize(bgeigie_import.measurements_count, 'measurement') -%>)
          <%= t("uploaded_by", :name => bgeigie_import.user.name) -%>
          <%= t("on_date", :date => bgeigie_import.created_at.to_formatted_s(:default)) -%>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>
</section>
