<%= content_for(:title) { t('.bgeigie_imports') } %>

<ul class="inline pull-right">
  <li>
    <%= link_to t('.upload'), [:new, :bgeigie_import], :class => 'btn' %>
  </li>
</ul>

<h2><%= t(".bgeigie_imports") %></h2>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <%= bgeigie_nav_li(:all) %>
      <%= bgeigie_nav_li(:unprocessed) %>
      <%= bgeigie_nav_li(:processed) %>
      <%= bgeigie_nav_li(:submitted) %>
      <%= bgeigie_nav_li(:done) %>
      <% bgeigie_nav_li(:error) %>
    </ul>
    <ul class="nav pull-right">
      <%- if user_signed_in? -%>
        <li class="pull-right <%= 'active' if params[:by_user_id].blank? %>">
          <%= link_to t(".everyone"), params.permit!.except(:by_user_id) %>
        </li>
      <%- end -%>
      <%- if user_signed_in? -%>
        <li class="pull-right <%= 'active' if params[:by_user_id] == current_user.id.to_s %>">
          <%= link_to t(".yours"), params.merge(:by_user_id => current_user.id) %>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>

<%= summarize_results(@bgeigie_imports) %>

<%= render partial: 'filter' %>

<%- if @bgeigie_imports.empty? -%>
  <%= t("none_found") -%>
<%- else -%>

  <ul class="inline pull-right">
    <%- if moderator?(@current_user) -%>
      <li id="open_all" data-bgeigie="<%=unmoderated_id_list(@bgeigie_imports).to_json%>">
        <%=link_to t(".Open all unmoderated"),'#', :class => 'btn' %>
      </li>
    <%-end-%>
  </ul>

  <table class="table table-striped table-hover" data-provides="rowlink">
    <thead>
      <%= table_sort_header(:bgeigie_import, :id) %>
      <%= table_sort_header(:bgeigie_import, :created_at) %>
      <%= table_sort_header(:bgeigie_import, :user_id) %>
      <%= table_sort_header(:bgeigie_import, :source) %>
      <%= table_sort_header(:bgeigie_import, :measurements_count) %>
      <%= table_sort_header(:bgeigie_import, :status) %>
      <%= table_sort_header(:bgeigie_import, :rejected_by) %>
      <%= table_sort_header(:bgeigie_import, :approved_by) %>
      <%= table_sort_header(:bgeigie_import, :comments) %>
    </thead>
    <tbody>
      <%- @bgeigie_imports.each do |bgeigie_import| -%>
        <tr>
          <td>
            <%= bgeigie_import.id %>
          </td>
          <td>
            <%= link_to bgeigie_import.created_at_formatted, bgeigie_import %>
          </td>
          <td>
            <%= link_to bgeigie_import.user do %>
              <%= bgeigie_import.user.name %>
            <%- end -%>
          </td>
          <td>
            <%= link_to File.basename(bgeigie_import.source.filename),
                  bgeigie_import
                    -%><br/>
            <small>
              <%- if bgeigie_import.cities.present? %>
              <span class="faded">
                <%= bgeigie_import.cities %>&nbsp;-&nbsp;
              </span>
              <%- end -%>
              <%- if bgeigie_import.credits.present? %>
                <span class="faded"><%= bgeigie_import.credits %></span>
              <%- end -%>
            </small>
          </td>
          <td>
            <%= link_to [bgeigie_import.becomes(MeasurementImport), :measurements] do %>
              <%= number_with_delimiter bgeigie_import.measurements_count %>
            <%- end -%>
            <%- if bgeigie_import.maximum_cpm.present? %>
              <span class="faded">
                <br>maximum cpm: <%= bgeigie_import.maximum_cpm %>
              </span>
            <%- end -%>
          </td>
          <td>
            <%= t("bgeigie_imports.states.#{bgeigie_import.status}") %>
            <%- if !bgeigie_import.approved? -%>
              <span class="notapproved">(<%= t("bgeigie_imports.states.not_approved") %>)</span>
            <%- end -%>
            <%- if bgeigie_import.rejected? -%>
              <span class="notapproved">(<%= t("bgeigie_imports.states.rejected") %>)</span>
            <%- end -%>
          </td>
          <td>
            <%= bgeigie_import.rejected_by %>
          </td>
          <td>
            <%=bgeigie_import.approved_by %>
          </td>
          <td>
            <%=bgeigie_import.comment %>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>

  <%= paginate @bgeigie_imports, theme: 'twitter-bootstrap-2' -%>
<%- end -%>
<div class="spacer"></div>
<%= current_page_api_example :bgeigie_imports_url %>
