<%= content_for(:title) { t('upload_a_bgeigie_log_file') } %>

<%= render 'layouts/submit_nav' %>
<div class="row">
  <section class="span6 offset3">
    <h2><%= t('.upload_a_bgeigie_log_file') -%></h2>
    <%= simple_form_for @bgeigie_import,
          :html =>{
            :class => 'form-horizontal'
          } do |f| %>
      <%= f.input :source, :as => :file %>
      <%= f.button :wrapped, :cancel => @bgeigie_import %>
    <%- end -%>
  </section>
</div>