<%= content_for(:title) { t('.upload_a_bgeigie_log_file') } %>

<%= render 'layouts/submit_nav' %>
<div class="row">
  <section class="col-md-9">
    <h2><%= t('.upload_a_bgeigie_log_file') -%></h2>
    <hr/>
    <%- if @bgeigie_import.errors[:md5sum].any? -%>
      <div class="alert alert-warning">
        <%= t('.import_exists', file_name: File.basename(@bgeigie_import.source.url)) %>
        <%= link_to t('.link_to_existing_import_html'),
                    BgeigieImport.find_by_md5sum(@bgeigie_import.md5sum),
                    :class => 'pull-right' %>
      </div>
    <%- end -%>
    <%= simple_form_for @bgeigie_import,
          :html =>{
            :class => 'form-horizontal'
          } do |f| %>
      <div class="well">
      <%= f.input :source, :as => :file %>
        <hr/>
      <div style="text-align: center"><%= f.button :wrapped, :cancel => @bgeigie_import %></div></div>

  <%- end -%>
  </section>
</div>