<%= content_for :additional_javascripts do %>
  <script type="text/javascript" charset="utf-8">
    BgeigieImport = {
      url: '<%= bgeigie_import_url(@bgeigie_import) %>',
      current_status_url: '<%= current_status_bgeigie_import_url(@bgeigie_import) %>'
    }
  </script>
<%- end -%>

<div class="row">
  <div class="span12">
    <%= render 'current_status' %>
    <%- if content_for?(:current_status) -%>
      <div id="current-status"><%= content_for(:current_status) %></div>
    <%- end -%>

    <ul class="inline nav-stacked pull-right">
      <%- if @bgeigie_import.awaiting_approval? -%>
        <li>
          <%= form_for [:approve, @bgeigie_import] do |f| %>
            <%= f.submit t('.approve'), :class => 'btn btn-primary' %>
          <%- end -%>
        </li>
      <%- end -%>
      <li>
        <%= link_to t(".download_original_file"),
              @bgeigie_import.source.url,
              :class => 'btn' %>
      </li>
    </ul>

    <h2>
      <%= t '.bgeigie_import' -%> #<%= @bgeigie_import.id -%>

      <small>
        <%= render 'bgeigie_imports/status' -%>
      </small>
    </h2>
  </div>
</div>

<div id="progress">
  <%= render :partial => 'progress' %>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li <%= raw('class="active"') unless ['edit', 'update'].include?(action_name) %>><a href="#metadata" data-toggle="tab"><%= t('.metadata') %></a></li>
      <li><a href="#map" data-toggle="tab"><%= t('.map') %></a></li>
      <li>
        <a href="#process-log" data-toggle="tab"><%= t('.process_log') %></a>
      </li>
      <%- if user_signed_in? && (@bgeigie_import.user == current_user || current_user.moderator?)-%>
        <li class="pull-right <%= 'active' if ['edit', 'update'].include?(action_name) %>">
          <a href="#edit-details" data-toggle="tab">
            <%= t('.edit_details') %>
          </a>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane <%= 'active' unless ['edit', 'update'].include?(action_name) %>" id="metadata">
    <%= render 'show' %>
  </div>
  <div class="tab-pane" id="map">
    <%= render 'map' %>
  </div>
  <div class="tab-pane" id="process-log">
    <%= render 'process_log' -%>
  </div>
  <div class="tab-pane <%= 'active' if ['edit', 'update'].include?(action_name) %>" id="edit-details">
    <%= render 'edit' %>
  </div>
</div>