<div class="row">
  <div class="span12">
    <%- if @bgeigie_import.queued_for_processing? -%>
      <p class="alert">
        <%= t(".this_file_is_queued_for_processing") %>
      </p>
    <%- end -%>

    <ul class="inline nav-stacked pull-right">
      <li>
        <%= link_to t(".download_original_file"),
              @bgeigie_import.source.url,
              :class => 'btn' %>
      </li>
    </ul>

    <h2>
      <%= t '.bgeigie_import' -%> #<%= @bgeigie_import.id -%>

      <small>
        <%= render 'bgeigie_imports/status' -%>
      </small>
    </h2>

    <%- if @bgeigie_import.status == 'done' -%>
      <ul class="measurement bgeigie-log unstyled">
        <li class="value thin">
          <em class="block"><%= @bgeigie_import.bgeigie_logs.count %></em>
          <%= t(".measurements") %>
        </li>
      </ul>
    <%- end -%>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="progress">
      <div class="bar bar-success" style="width: 20%">
        <%= t('.progress_uploaded') %>
      </div>
      <div class="bar <%= @bgeigie_import.metadata_added? ? 'bar-success' : 'bar-info' %>" style="width: 20%">
        <%= t('.progress_metadata') %>
      </div>
      <div class="bar bar-info" style="width: 20%">
        <%= t('.progress_approved') %>
      </div>
      <div class="bar bar-info" style="width: 20%">
        <%= t('.progress_processed') %>
      </div>
      <div class="bar bar-info" style="width: 20%">
        <%= t('.progress_live') %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li <%= raw('class="active"') unless ['edit', 'update'].include?(action_name) %>><a href="#metadata" data-toggle="tab"><%= t('.metadata') %></a></li>
      <li><a href="#map" data-toggle="tab"><%= t('.map') %></a></li>
      <li>
        <a href="#process_log" data-toggle="tab"><%= t('.process_log') %></a>
      </li>
      <%- if user_signed_in? && (@bgeigie_import.user == current_user || current_user.moderator?)-%>
        <li class="pull-right <%= 'active' if ['edit', 'update'].include?(action_name) %>">
          <a href="#edit-details" data-toggle="tab">
            <%= t('.edit_details') %>
          </a>
        </li>
      <%- end -%>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane <%= 'active' unless ['edit', 'update'].include?(action_name) %>" id="metadata">
    <%= render 'show' %>
  </div>
  <div class="tab-pane" id="map">
    <%= render 'map' %>
  </div>
  <div class="tab-pane" id="process-log">
    <%= render 'progress' -%>
  </div>
  <div class="tab-pane <%= 'active' if ['edit', 'update'].include?(action_name) %>" id="edit-details">
    <%= render 'edit' %>
  </div>
</div>
