<%= content_for :additional_javascripts do %>
  <script type="text/javascript" charset="utf-8">
    BgeigieImport = {
      url: '<%= bgeigie_import_url(@bgeigie_import) %>',
      map_url: '<%= bgeigie_import_bgeigie_logs_url(@bgeigie_import) %>'
    }
  </script>
<%- end -%>


<%= content_for(:title) do %>
  <%= t 'bgeigie_imports.head.bgeigie_import' -%> #<%= @bgeigie_import.id -%> \\ <%= t('bgeigie_imports.index.bgeigie_imports') %>
<%- end -%>

<div id="head">
  <%= render 'head' %>
</div>

<div class="row">
  <div class="span9">
    <ul class="nav nav-tabs">
      <li <%= raw('class="active"') unless ['edit', 'update'].include?(action_name) %>><a href="#metadata" data-toggle="tab"><%= t('.metadata') %></a></li>
      <li>
        <a href="#process-log" data-toggle="tab"><%= t('.process_log') %></a>
      </li>
      <%- if user_signed_in? && current_user.moderator? -%>
        <li>
          <a href="#send-email" data-toggle="tab">
            <%= t('.send_email') %>
          </a>
        </li>
      <%- end -%>
      <%- if user_signed_in? && (@bgeigie_import.user == current_user.id || current_user.moderator?)-%>
        <li class="pull-right <%= 'active' if ['edit', 'update'].include?(action_name) %>">
          <a href="#edit-details" data-toggle="tab">
            <%= t('.edit_details') %>
          </a>
        </li>
      <%- end -%>

    </ul>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane <%= 'active' unless ['edit', 'update'].include?(action_name) %>" id="metadata">
    <%= render 'show' %>
    <% if @bgeigie_import.processed? %>
      <div class="spacer"></div>
      <%= render 'map' %>
    <% end %>
  </div>
  <div class="tab-pane" id="process-log">
    <%= render 'process_log' -%>
  </div>
  <div class="tab-pane" id="send-email">
    <%= render 'send_email' -%>
  </div>
  <div class="tab-pane <%= 'active' if ['edit', 'update'].include?(action_name) %>" id="edit-details">
    <%= render 'edit' %>
  </div>
</div>
<div class="spacer"></div>
<%= current_page_api_example :bgeigie_import_url %>
