<%= form_with(model: device_story_comment, local: true) do |form| %>
  <% if device_story_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device_story_comment.errors.count, "error") %> prohibited this device_story_comment from being saved:</h2>

      <ul>
      <% device_story_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :device_story_id %>
    <%= form.text_field :device_story_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
