<p id="notice"><%= notice %></p>

<h1>Device Story Comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Device story</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_story_comments.each do |device_story_comment| %>
      <tr>
        <td><%= device_story_comment.content %></td>
        <td><%= device_story_comment.device_story %></td>
        <td><%= device_story_comment.user %></td>
        <td><%= link_to 'Show', device_story_comment %></td>
        <td><%= link_to 'Edit', edit_device_story_comment_path(device_story_comment) %></td>
        <td><%= link_to 'Destroy', device_story_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device Story Comment', new_device_story_comment_path %>
