<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>The Safecast API</h1>
      <p>
        Query and add to the Safecast dataset.
        Learn how to access it with your programs.
      </p>
    </div>
  </div>

  <div class="span3">
    <ul id="docs-nav" class="nav nav-list doc-nav">
      <li><%= link_to 'Measurements', '#doc-measurements' %></li>
      <li><%= link_to 'bGeigie Imports', '#doc-bgiegie-imports' %></li>
      <li><%= link_to 'Devices', '#doc-devices' %></li>
    </ul>
  </div>

  <div class="span9">
    <h3>API Endpoint</h3>

    <p><%= root_url %></p>
    <%= api_example :root_url %>

    <h3>Available Resources</h3>

    <dl class="dl-horizontal">
      <dt><%= link_to 'Users', '#users' %></dt>
      <dd>Add and view user accounts</dd>

      <dt><%= link_to 'Measurements', '#measurements' %></dt>
      <dd>Add and view measurements</dd>

      <dt><%= link_to 'bGeigie Imports', '#bgeigie-imports' %></dt>
      <dd>Add and view bGeigie Imports</dd>

      <dt><%= link_to 'Devices', '#devices' %></dt>
      <dd>Add and view Devices</dd>
      
    </dl>

    <h3>Users</h3>
    <dl class="dl-horizontal">

      <dt>Get a list of Safecast users</dt>
      <dd>
        <%= api_example_link(:get, :users_path) %>
      </dd>

      <dt>Add a new user</dt>
      <dd><%= api_example_link(:post, :users_path) %></dd>

      <%- if User.first.present? -%>
        <dt>View a user</dt>
        <dd>
          <%= api_example_link(:get, :user_path, User.first) %>
        </dd>
      <%- end -%>
    </dl>

    <h3>Measurements</h3>
    <dl class="dl-horizontal">

      <dt>Get a list of Measurements</dt>
      <dd>
        <%= api_example_link(:get, :measurements_path) %>
      </dd>

      <dt>Add a new measurement</dt>
      <dd><%= api_example_link(:post, :measurements_path) %></dd>

      <%- if Measurement.first.present? -%>
        <dt>View a measurement</dt>
        <dd>
          <%= api_example_link(:get, :measurement_path, Measurement.first) %>
        </dd>
      <%- end -%>
    </dl>

    <h3>bGeigie Imports</h3>
    <dl class="dl-horizontal">

      <dt>Get a list of bGeigie Imports</dt>
      <dd>
        <%= api_example_link(:get, :bgeigie_imports_path) %>
      </dd>

      <dt>Add a new bGeigie Import</dt>
      <dd><%= api_example_link(:post, :bgeigie_imports_path) %></dd>

      <%- if BgeigieImport.first.present? -%>
        <dt>View a measurement</dt>
        <dd>
          <%= api_example_link(:get, :bgeigie_import_path, BgeigieImport.first) %>
        </dd>
      <%- end -%>
    </dl>

    <h3>Devices</h3>
    <dl class="dl-horizontal">

      <dt>Get a list of Devices</dt>
      <dd>
        <%= api_example_link(:get, :devices_path) %>
      </dd>

      <dt>Add a new Device</dt>
      <dd><%= api_example_link(:post, :devices_path) %></dd>

      <%- if BgeigieImport.first.present? -%>
        <dt>View a device</dt>
        <dd>
          <%= api_example_link(:get, :devices_path, Device.first) %>
        </dd>
      <%- end -%>
    </dl>


    <h3>Using the API</h3>

    <h4 id="doc-measurements">Measurements</h4>

    <p>
      The <code>Measurement</code> is the basic unit in the Safecast database.
    </p>

    <p>
      A measurement is composed of four key parts.
      <ul>
        <li>Timestamp <code>captured_at</code></li>
        <li>Unit <code>unit</code></li>
        <li>Value <code>value</code></li>
        <li>Geopoint <code>location</code> (<code>latitude</code>, <code>longitude</code>)</li>
      </ul>
    </p>

    <p>
      Measurements are accessed via the HTTP API:
    </p>

    <%= api_example :measurements_url %>

    <h4>Parameters</h4>
    <p>
      You can filter the measurements with a variety of options to find measurements near a point, captured on certain dates etc.
    </p>

    <h5>Measurements near a point</h5>

    <p>
      Provide <code>latitude</code>, <code>longitude</code> and <code>distance</code>.
    </p>
    <h6>Example:</h6>
    <%= api_example :measurements_url, :latitude => 34.5, :longitude => 5.5, :distance => 10 %>
    
    <h5>Measurements captured before or after certain dates/times.</h5>

    <p>
      Provide <code>captured_after</code>, <code>captured_before</code> or both.
    </p>
    <h6>Example:</h6>
    <%= api_example(:measurements_url, :captured_before => '2012-09-09 00:00', :captured_after => '2012-09-08 00:00') %>

    <h5>Measurements added to the database before or after certain dates/times.</h5>

    <p>
      Provide <code>since</code>, <code>until</code> or both.
    </p>
    <h6>Example:</h6>
    <%= api_example(:measurements_url, :until => '2012-09-09 00:00', :since => '2012-09-08 00:00') %>

    <h4 id="doc-bgeigie-imports">bGeigie Imports</h4>

    <p>Bulk imports of measurements, typically associated with drives that collect a lot of data using Safecast&rsquo;s bGeigie devices are processed and logged independently.</p>

    <p>
      You can retrieve a list of all of these imports:
    </p>

    <%= api_example(:bgeigie_imports_url) %>

    <p>And you can view individual imports:</p>

    <%= api_example(:bgeigie_import_url, BgeigieImport.first.presence || 1) %>

    <h4 id="doc-devices">Devices</h4>

    <p>Safecast maintains a list of devices that are used to take radiation measurements. You can view a list of these devices:</p>

    <%= api_example(:devices_url) %>

    <p>If you want to add a new device, you can do so:</p>

    <pre>POST http://api.safecast.dev/en-US/devices.json</pre>
  </div>
</div>