<div class="row">
  <section class="span6">
    <h2><%= t('your_maps') -%></h2>
    <%- if @maps.empty? -%>
      <p><%= t('no_maps_found') -%></p>
    <%- else -%>
      <ul class="nav nav-pills nav-stacked">
        <%- @maps.each do |map| -%>
          <li <%= 'class="active"'.html_safe if @map == map %>>
            <%= link_to([:my, map]) do %>
            <%= map.name %>
            <%= map.created_at %>
            <%= map.measurements.count %> <%= t('measurements') %>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
    <%- end -%>
  </section>
  <%- if content_for?(:viewer) -%>
    <div class="span6">
      <%= content_for(:viewer) %>
    </div>
  <%- end -%>
</div>
<div class="row span12">
  <%= will_paginate @maps %>
</div>