<%= current_page_api_example :measurements_url %>


<h2><%= t(".measurements") -%></h2>


<%= form_tag params.except(:commit).except(:utf8),
             :method => :get,
             :class => 'form-inline' do |f| %>
  <div class="row">
    <fieldset class="span9">
      <div class="pull-right">
        <%= submit_tag t('filter') %>
      </div>
      <%= select_tag :unit,
                     options_for_select(
                      [
                        ['CPM', 'cpm'], [t('usv'), 'usv']
                      ], params[:unit] || 'cpm') %>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="span9">
      <%= filter_field :latitude,   :prepend => 'ยบ' %>
      <%= filter_field :longitude,  :prepend => 'ยบ' %>
      <%= filter_field :distance,   :prepend => 'm' %>
    </fieldset>
  </div>

  <div class="row">

    <fieldset class="span9">

      <%= datetime_picker :captured_after %>

      <%= datetime_picker :captured_before %>

      <%= datetime_picker :since %>

      <%= datetime_picker :until %>
    </fieldset>
  </div>
<%- end -%>

<%- if @measurements.empty? -%>
  <p><%= t(".none_found") -%></p>
<%- else -%>
  <ul class="unstyled measurement-list">
    <%- @measurements.each do |measurement| -%>
      <li class="measurement">
        <%= link_to measurement do %>
          <ul class="measurement-listed">
            <li class="value">
              <em><%= number_with_precision measurement.value, :precision => 0 %></em>
              <%= measurement.unit %>
            </li>
            <li class="lat-lng">
              <em title="<%= measurement.latitude %>">
                <%= number_with_precision(measurement.latitude, :precision => 4) %>&deg;
              </em>
              <%= t('lat') %>
            </li>
            
            <li class="lat-lng">
              <em title="<%= measurement.longitude %>">
                <%= number_with_precision measurement.longitude, :precision => 4 %>&deg;
              </em>
              <%= t('lng') %>
            </li>
            <%- if measurement.device.present? -%>
              <li>
                <%= t('measured_with') %> <%= measurement.device.name %>
              </li>
            <%- end %>
            <%- if measurement.captured_at.present? -%>
              <li>
                <%= measurement.captured_at.to_formatted_s(:default) %>
              </li>
            <%- end -%>
            <%- if measurement.location_name.present? -%>
              <li><%= measurement.location_name %></li>
            <%- end -%>
          </ul>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate @measurements -%>
<%- end -%>