<div class="row">

  <div class="span12">
    <%= api_example :measurements_url, params.except(:commit).except(:utf8).keep_if { |k, v| v.present? } %>
  </div>
</div>

<div class="row">

  <div class="span3">
    <%= form_tag params.except(:commit), :method => :get do |f| %>

    <%= label_tag :latitude %>
    <%= number_field_tag :latitude, params[:latitude], :class => 'span2' %>ยบ

    <%= label_tag :longitude %>
    <%= number_field_tag :longitude, params[:longitude], :class => 'span2' %>ยบ

    <%= label_tag :distance %>
    <%= number_field_tag :distance, params[:distance], :class => 'span2' %>m

    <%= label_tag :captured_before %>
    <%= text_field_tag :captured_before, params[:captured_after] %>

    <%= label_tag :captured_after %>
    <%= text_field_tag :captured_after, params[:captured_after] %>

    <%= label_tag :since %>
    <%= text_field_tag :since, params[:since] %>

    <%= label_tag :until %>
    <%= text_field_tag :until, params[:since] %>

    <%= submit_tag t('.filter') %>
  <%- end -%>
  </div>

  <section class="span9">
    <h2><%= t(".measurements") -%></h2>
    <%- if @measurements.empty? -%>
      <p><%= t(".none_found") -%></p>
    <%- else -%>
      <ul class="unstyled measurement-list">
        <%- @measurements.each do |measurement| -%>
          <li class="measurement">
            <%= link_to measurement do %>
              <ul class="measurement-listed">
                <li class="value">
                  <em><%= number_with_precision measurement.value, :precision => 0 %></em>
                  <%= measurement.unit %>
                </li>
                <li class="lat-lng">
                  <em title="<%= measurement.latitude %>">
                    <%= number_with_precision(measurement.latitude, :precision => 4) %>&deg;
                  </em>
                  <%= t('lat') %>
                </li>
                
                <li class="lat-lng">
                  <em title="<%= measurement.longitude %>">
                    <%= number_with_precision measurement.longitude, :precision => 4 %>&deg;
                  </em>
                  <%= t('lng') %>
                </li>
                <%- if measurement.device.present? -%>
                  <li>
                    <%= t('measured_with') %> <%= measurement.device.name %>
                  </li>
                <%- end %>
                <%- if measurement.captured_at.present? -%>
                  <li>
                    <%= measurement.captured_at.to_formatted_s(:default) %>
                  </li>
                <%- end -%>
                <%- if measurement.location_name.present? -%>
                  <li><%= measurement.location_name %></li>
                <%- end -%>
              </ul>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
      <%= will_paginate @measurements -%>
    <%- end -%>
  </section>
</div>
