<%= current_page_api_example :measurements_url %>


<h2><%= t(".measurements") -%></h2>


<%= form_tag params.except(:commit).except(:utf8),
             :method => :get,
             :class => 'form-inline' do |f| %>
  <fieldset>
    <div class="pull-right">
      <%= submit_tag t('filter') %>
    </div>
    <%= select_tag :unit,
                   options_for_select(
                    [
                      ['CPM', 'cpm'], [t('usv'), 'usv']
                    ], params[:unit] || 'cpm') %>
  </fieldset>
  <fieldset>
    <%= filter_field :measurement, :latitude,   :prepend => 'ยบ' %>
    <%= filter_field :measurement, :longitude,  :prepend => 'ยบ' %>
    <%= filter_field :measurement, :distance,   :prepend => 'm' %>
  </fieldset>

  <fieldset>
    <%= datetime_picker :measurement, :captured_after %>
    <%= datetime_picker :measurement, :captured_before %>
    <%= datetime_picker :measurement, :since %>
    <%= datetime_picker :measurement, :until %>
  </fieldset>
<%- end -%>

<%- if @measurements.empty? -%>
  <p><%= t(".none_found") -%></p>
<%- else -%>
  <table class="table">
    <thead>
      <th><%= t('id') %></th>
      <th><%= t('activerecord.attributes.measurement.unit') %></th>
      <th><%= t('activerecord.attributes.measurement.value') %></th>
      <th><%= t('activerecord.attributes.measurement.latitude') %></th>
      <th><%= t('activerecord.attributes.measurement.longitude') %></th>
      <th><%= t('activerecord.attributes.measurement.captured_at') %></th>
    </thead>
    <tbody>
      <%- @measurements.each do |measurement| -%>
        <tr>
          <td><%= measurement.id %></td>
          <td><%= measurement.unit %></td>
          <td>
            <%= link_to measurement.value, measurement %>
          </td>
          <td>
            <%= number_with_precision measurement.latitude, :precision => 4 %>ยบ
          </td>
          <td><%= number_with_precision measurement.longitude, :precision => 4 %>ยบ</td>
          <td><%= measurement.captured_at_formatted %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  <%= will_paginate @measurements -%>
<%- end -%>