<%= content_for(:title) { t('.measurements') } %>

<h2><%= t(".measurements") -%></h2>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li ><%= measurement_nav_li(:all) %></li>
      <li ><%= measurement_nav_li(:cpm) %></li>
      <li ><%= measurement_nav_li(:usv) %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%- if user_signed_in? -%>
        <li class="pull-right <%= 'active' if params[:user_id].blank? %>">
          <%= link_to t(".everyone"), params.to_unsafe_h.except(:user_id) %>
        </li>
      <%- end -%>
      <%- if user_signed_in? -%>
        <li class="pull-right <%= 'active' if params[:user_id] == current_user.id.to_s %>">
          <%= link_to t(".yours"), params.to_unsafe_h.merge(:user_id => current_user.id) %>
        </li>
      <%- end -%>
    </ul>
</nav>

<%= summarize_results(@measurements) %>

<%= show_filters :measurement, [:unit, :latitude, :longitude, :distance, :captured_after, :captured_before, :since, :until, :user_id, :measurement_import_id, :device_id] %>


<%- if @measurements.empty? -%>
  <p><%= t(".none_found") -%></p>
<%- else -%>
  <table class="table table-hover" data-provides="rowlink">
    <thead>
      <%= table_sort_header(:measurement, :id) %>
      <%= table_sort_header(:measurement, :value) %>
      <th><%= t('activerecord.attributes.measurement.latitude') %></th>
      <th><%= t('activerecord.attributes.measurement.longitude') %></th>
      <%= table_sort_header(:measurement, :captured_at) %>
    </thead>
    <tbody>
      <%- @measurements.each do |measurement| -%>
        <tr>
          <td><%= measurement.id %></td>
          <td>
            <%= link_to "#{measurement.value}#{measurement.unit}",
                        measurement %>
            <%- if measurement.user.present? -%>
              <br/>
              <small>
                <span class="faded">
                <%= t('.submitted_by') %>
                <%= link_to measurement.user.name, measurement.user %>
                </span>
              </small>
            <%- end -%>
            <%- if measurement.measurement_import.present? -%>
              <small>
                <span class="faded">
                <%= t('.in') %>
                <%- begin -%>
                  <%= link_to measurement.measurement_import.name, measurement.measurement_import %>
                <%- rescue -%>
                  <%= measurement.measurement_import.name %>
                <%- end -%>
                </span>
              </small>
            <%- end -%>
          </td>
          <td>
            <%= number_with_precision measurement.latitude, :precision => 4 %>ยบ
          </td>
          <td><%= number_with_precision measurement.longitude, :precision => 4 %>ยบ</td>
          <td><%= measurement.captured_at_formatted %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
  <%= paginate @measurements, theme: 'twitter-bootstrap-2' -%>
<%- end -%>

<div id="filter-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        <h3>
          Filter Measurements
        </h3>
      </div>
      <div class="modal-body" style="height: 250px">
        <%= form_tag params.to_unsafe_h.except(:commit).except(:utf8),
                     :method => :get do |f| %>
          <fieldset class="col-md-5">
            <%= filter_field :measurement, :latitude,   :prepend => 'ยบ' %>
            <%= filter_field :measurement, :longitude,  :prepend => 'ยบ' %>
            <%= filter_field :measurement, :distance,   :prepend => 'm' %>
          </fieldset>

          <fieldset class="col-md-5">

            <%= datetime_picker :measurement, :captured_after %>
            <%= datetime_picker :measurement, :captured_before %>
            <%= datetime_picker :measurement, :since %>
            <%= datetime_picker :measurement, :until %>
          </fieldset>
          <%= submit_tag t('filter'), :class => 'btn' %>
        <%- end -%>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<%= current_page_api_example :measurements_url %>
