<%= current_page_api_example :measurement_url %>
<%= content_for(:title) do %>
  <%= @measurement.value %><%= @measurement.unit %>
  <%= @measurement.captured_at_formatted %>
  <%= number_with_precision @measurement.latitude, :precision => 4 %>ยบ
  <%= number_with_precision @measurement.longitude, :precision => 4 %>ยบ

  <%= t '.measurements' -%>
<%- end -%>

<h2><%= t('.measurement') %></h2>

<dl class="dl-horizontal">
  <dt><%= t('activerecord.attributes.measurement.id') %></dt>
  <dd><%= @measurement.id %></dd>

  <dt><%= t('activerecord.attributes.measurement.captured_at') %></dt>
  <dd><%= @measurement.captured_at_formatted %></dd>

  <%- if @measurement.user.present? -%>
    <dt><%= t('activerecord.attributes.measurement.submitted_by') %></dt>
    <dd>
      <%= link_to @measurement.user.name, @measurement.user %>
    </dd>
  <%- end -%>

  <dt><%= t('activerecord.attributes.measurement.value') %></dt>
  <dd><%= @measurement.value %><%= @measurement.unit %></dd>

  <dt><%= t('activerecord.attributes.measurement.latitude') %></dt>
  <dd title="<%= @measurement.latitude %>">
    <%= number_with_precision @measurement.latitude, :precision => 4 %>
  </dd>

  <dt><%= t('activerecord.attributes.measurement.longitude') %></dt>
  <dd title="<%= @measurement.longitude %>">
    <%= number_with_precision @measurement.longitude, :precision => 4 %>
  </dd>

  <dt><%= t('.measurement.measurement_import') %></dt>
  <dd title="<%= @measurement.measurement_import %>">
    <%= link_to @measurement.measurement_import.name, @measurement.measurement_import, alt:@measurement.measurement_import.name %>
  </dd>

</dl>

