<%= content_for(:title) { "Device Stories" } %>
<div class="row">
  <div id="btn_fullscr" style="float: right; margin-top: 25px; margin-right: 15px">
    <%= render 'button_toggle_view'%>
  </div>

  <h2 style="margin-left: 15px">Device Stories</h2>
</div>
<hr/>
<div class="row">
  <div class="well" style="padding-bottom: 70px; padding-top: 20px;">
    <div class="col-xs-6 visible-xs visible-sm" style="float: left; margin-top: 25px">
      <div id="counter">
        <%= render 'counts'%>
      </div>
    </div>
    <div class="col-md-6 hidden-xs hidden-sm" style="float: left; margin-top: 15px">
      <div id="counter">
        <%= render 'counts'%>
      </div>
    </div>
    <div class="col-xs-6" style="margin-bottom: 20px;">
      <div id="search_form" style="float: right;">
        <%= render 'search_form'%>
      </div>
    </div>
  </div>
</div>
<div id="results_class">
  <%= render 'results', device_stories: @device_stories %>
</div>
<div id="paginate"><%= render 'paginate'%></div>
<div id="per_page_select">
  <%= render 'per_page_select'%>
</div>
<div class="spacer"></div>
<%= current_page_api_example :device_stories_url %>
