<%= content_for(:title) { "Device Stories" } %>

<h2>Device Stories</h2>
<div class="well">
  <div id="counter" style="float: left; display: inline-block">
    <%= render 'counts'%>
  </div>
  <div id="search_form">
    <%= render 'search_form'%>
  </div>
</div>

<%- if @device_stories.empty? -%>
  <p><%= t(".none_found") -%></p>
<%- else -%>
  <div id="results_class">
    <%= render 'results', device_stories: @device_stories %>
  </div>
  <div id="paginate"><%= render 'paginate'%></div>
<%- end -%>
<div class="spacer"></div>
<%= current_page_api_example :device_stories_url %>
