<hr/>
<%- unless @device_story%>
  <%= render 'help_page' %>
<%- else %>
  <%= content_for(:title) do %>
  <%- end -%>
  <div style="margin-left: 10px; text-align: center">
    <h2>
      <%= @device_story.last_location_name %> (<%= @device_story.device_urn %>)
      <%- if  @device_story.last_seen %>
        <div style="font-size: 15px"> <%= time_ago_in_words(@device_story.last_seen) %> ago</div>
      <%- end %>
    </h2>
  </div>
  <hr>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    <div style="flex: 1 5 40%; width: 100%; margin-top: 25px">
      <table class="table table-hover" style="width: 100%">
        <thead style="font-size: 13px">
        <tr>
          <td colspan="3" style="text-align:center"><%= @device_story.last_seen %></td>
        </tr>
        </thead>
        <tr>
          <td colspan="2" style="font-size: 12px">CPM</td>
          <td style="font-size: 15px; text-align:right"> <%= last_cpm_values(@device_story.last_values) %></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 12px; white-space: nowrap">Battery Voltage</td>
          <td style="font-size: 15px; text-align:right"><%= last_battery_value(@device_story.last_values) %>V</td>
        </tr>
        <tr>
          <td style="font-size: 12px; white-space: nowrap"> Air Quality</td>
          <td colspan="2" style="font-size: 12px; text-align:right"><%= last_air_quality_values(@device_story.last_values) %>
            <br> ug/m3
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button type="button" style="display: flex; justify-content: center; align-items: center; margin-left: auto; margin-right: auto; font-size: 15px; min-width: 164px; width: 100%"><%= link_to 'More sensor data', grafana_more_data(@device_story.device_urn), target: :_blank %></button>
          </td>
        </tr>
      </table>
    </div>
    <iframe
      src="<%= grafana_iframe(@device_story.device_urn, :air_quality) %>"
      style="flex: 2 2 60%; width: 100%; height: 250px;" frameborder="0">
    </iframe>
  </div>
  <hr>
  <div class="" style="min-height: 250px; height: calc(100vh - 325px); display: flex; flex-direction: column;">
    <iframe
      src="<%= grafana_iframe(@device_story.device_urn, :air_quality_map) %>"
      style="flex-grow: 1; width: 100%; min-height: 250px; height: auto;" frameborder="0">
    </iframe>
  </div>

<%- end %>