<%= content_for(:title) do %>
    <%= @device_story.last_location_name %>
<%- end -%>

<div class="span9">
    <div class="row">
        <h2>
            <%= @device_story.last_location_name %> (<%= @device_story.device_urn %>)
        </h2>

        <div class="span2">
            <table class="table table-hover">
                <thead>
                    <%= time_ago_in_words(@device_story.last_seen) %> ago (<%= @device_story.last_seen %>)
                </thead>
                <tr>
                    <td style="font-size: 25px"><%= @device_story.last_values %></td>
                </tr>
            </table>
            <a href="http://grafana-dev.safecast.cc/d/DFSxrOLWk/safecast-device-details?orgId=1&from=now-90d&to=now&refresh=15m&var-device_urn=<%= @device_story.device_urn %>"
                target="_blank";
                style="font-size: 18px">
                More sensor data
            </a>
        </div>

        <div class="span7">
            <iframe 
                src="https://grafana-dev.safecast.cc/d-solo/DFSxrOLWk/safecast-device-details?orgId=1&from=now-90d&to=now&refresh=15m&var-device_urn=<%= @device_story.device_urn %>&panelId=14" 
                width="100%" height="250" frameborder="0">
            </iframe>
        </div>
    </div>
    <div class="spacer"></div>
    
    <div class="row">
        <iframe 
            src="https://grafana-dev.safecast.cc/d-solo/DFSxrOLWk/safecast-device-details?orgId=1&var-device_urn=<%= @device_story.device_urn %>&panelId=8" 
            width="100%" height="400" frameborder="0">
        </iframe>
    </div>
</div>

<div class="spacer"></div>
<%= current_page_api_example :device_stories_url %>
