<%= content_for(:title) do %>
  <%= @device_story.last_location_name %>
<%- end -%>
<div class="span9">
  <div class="row">
    <h2>
      <%= @device_story.last_location_name %> (<%= @device_story.device_urn %>)
      <%- if  @device_story.last_seen %>
        <div style="font-size: 15px"> <%= time_ago_in_words(@device_story.last_seen) %> ago</div>
      <%- end %>
    </h2>
    <div class="span2" style="margin: 0; margin-right: 20px">
      <table class="table table-hover" style="min-width: 164px; max-width: 164px; table-layout: fixed; margin-top: 10%; word-wrap: break-word">
        <thead style="font-size: 13px">
        <tr>
          <td colspan="3" style="text-align:center"><%= @device_story.last_seen %></td>
        </tr>
        </thead>
        <tr>
          <td colspan="2" style="font-size: 12px">CPM</td>
          <td style="font-size: 15px; text-align:right"> <%= last_cpm_values(@device_story.last_values) %></td>
        </tr>
        <tr>
          <td colspan="2" style="font-size: 12px; white-space: nowrap">Battery Voltage</td>
          <td style="font-size: 15px; text-align:right"><%= last_battery_value(@device_story.last_values) %>V</td>
        </tr>
        <tr>
          <td style="font-size: 12px; white-space: nowrap"> Air Quality</td>
          <td colspan="2" style="font-size: 12px; text-align:right"><%= last_air_quality_values(@device_story.last_values) %>
            <br> ug/m3
          </td>
        </tr>
      </table>
      <button type="button" style="font-size: 15px; width: 160px"><%= link_to 'More sensor data', grafana_more_data(@device_story.device_urn), target: :_blank %></button>
    </div>
    <div class="span7">
      <iframe
        src="<%= grafana_iframe(@device_story.device_urn, grafana_panel(:cpm)) %>"
        width="100%" height="250" frameborder="0">
      </iframe>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <iframe
      src="<%= grafana_iframe(@device_story.device_urn, grafana_panel(:map)) %>"
      width="100%" height="400" frameborder="0">
    </iframe>
  </div>
</div>

<div>
  <h2>Comments: <br></h2>
  <table class="table table-striped">
    <tbody>
    <%- if @device_story.device_story_comments.empty? %>
      No Comments yet.
    <%- else %>
      <%- @device_story.device_story_comments.each do |comment| %>
        <tr>
          <td>
            <b><%= comment.user.name %></b><br>
            <%= comment.content %>
            <%- if user_signed_in? -%>
              <%- if (comment.user_id == current_user.id) || moderator?(current_user) %>
                <div style="float:right"> <%= link_to 'Delete', device_story_device_story_comment_path(@device_story, comment), method: :delete %></div>
              <%- end %>
            <%- end %>
          </td>
        </tr>
      <%-end %>
    <%- end %>
    </tbody>
  </table>
</div>
<div style="margin-left: 5px;min-width: 500px">
  <%- if user_signed_in? %>
    <%= form_with model: DeviceStoryComment, url: device_story_device_story_comments_path(@device_story), local: true, method: 'post' do |form| %>
      <%= form.label :content, current_user.name %>
      <%= form.text_area :content, :rows => 3, style: 'width:97%;' %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <p><%= form.submit "Submit comment" %></p>
    <% end %>
  <% end %>
</div>

<div class="spacer"></div>
<%= current_page_api_example :device_stories_url %>