<%= content_for(:title) do %>
  <%= @device_story.last_location_name %>
<%- end -%>

<div class="span9">
  <div class="row">
    <h2>
      <%= @device_story.last_location_name %> (<%= @device_story.device_urn %>)
      <div style="font-size: 15px"> <%= time_ago_in_words(@device_story.last_seen) %> ago</div>
    </h2>

    <div class="span2">
      <table class="table table-hover" style="min-width: 164px; max-width: 164px; table-layout: fixed; margin-top: 10%; word-wrap: break-word">
        <thead style="font-size: 13px">
        <tr>
          <td colspan="3" style="text-align:center"><%= @device_story.last_seen %></td>
        </tr>
        </thead>

        <!-- ...CPM... -->
        <%- if @device_story.last_values.index('c') != nil -%>
          <tr>
            <td colspan="2" style="font-size: 12px">LND7318u / cpm</td>
            <%- if @device_story.last_values.index('v') == nil -%>
              <% @allcpm = @device_story.last_values[0..@device_story.last_values.index('c') - 1] %>
              <% if @allcpm.index('|') != nil %>
                <% @LND7318U = @allcpm[0..@allcpm.index('|') - 1] %>
                <% @otherSensor = @allcpm[@allcpm.index('|') + 1..-1] %>
              <% else %>
                <% @LND7318U = @allcpm %>
                <% @otherSensor = 0 %>
              <% end %>
              <td style="font-size: 15px; text-align:right"> <%= @LND7318U %></td>
            <%- else -%>
              <% @allcpm = @device_story.last_values[@device_story.last_values.index('v') + 1..@device_story.last_values.index('c') - 1] %>
              <% if @allcpm.index('|') != nil %>
                <% @LND7318U = @allcpm[0..@allcpm.index('|') - 1] %>
                <% @otherSensor = @allcpm[@allcpm.index('|') + 1..-1] %>
              <% else %>
                <% @LND7318U = @allcpm %>
                <% @otherSensor = 0 %>
              <% end %>
              <td style="font-size: 15px; text-align:right"><%= @LND7318U %></td>
            <%- end -%>
          </tr>
          <% if @otherSensor != 0 %>
            <tr>
              <td colspan="2" style="font-size: 12px">other / cpm</td>
              <td style="font-size: 15px; text-align:right"> <%= @otherSensor %></td>
            </tr>
          <% end %>
        <%- end -%>

        <!-- ...Battery voltage... -->
        <%- if @device_story.last_values.index('v') != nil -%>
          <tr>
            <td colspan="2" style="font-size: 12px; white-space: nowrap">Battery Voltage / v</td>
            <td style="font-size: 15px; text-align:right"><%= @device_story.last_values[0..@device_story.last_values.index('v') - 1] %></td>
          </tr>
        <%- end -%>

        <!-- ...Air Quality... -->
        <%- if @device_story.last_values.index('u') != nil -%>
          <tr>
            <td style="font-size: 12px; white-space: nowrap"> Air Quality <br> (ug/m3)</td>
            <%- if @device_story.last_values.index('c') != nil -%>
              <td colspan="2" style="font-size: 12px; text-align:right"><%= @device_story.last_values[@device_story.last_values.index('c') + 3..@device_story.last_values.index('u') - 1] %></td>
            <%- elsif @device_story.last_values.index('v') != nil -%>
              <td colspan="2" style="font-size: 12px; text-align:right"><%= @device_story.last_values[@device_story.last_values.index('v') + 1..@device_story.last_values.index('u') - 1] %></td>
            <%- else -%>
              <td style="font-size: 12px; text-align:right"><%= @device_story.last_values[0..@device_story.last_values.index('u') - 1] %></td>
            <%- end -%>
          </tr>
        <%- end %>

      </table>
      <button type="button" style="font-size: 15px; width: 160px"><%= link_to 'More sensor data', grafana_more_data(@device_story.device_urn), target: :_blank %></button>
    </div>

    <div class="span7">
      <iframe
        src="<%= grafana_iframe(@device_story.device_urn, grafana_panel(:cpm)) %>"
        width="100%" height="250" frameborder="0">
      </iframe>
    </div>
  </div>
  <div class="spacer"></div>

  <div class="row">
    <iframe
      src="<%= grafana_iframe(@device_story.device_urn, grafana_panel(:map)) %>"
      width="100%" height="400" frameborder="0">
    </iframe>
  </div>
</div>

<div class="spacer"></div>
<%= current_page_api_example :device_stories_url %>
