  <%= content_for(:title) do %>
  <%- end -%>
<hr/>
<div style="margin-left: 10px; text-align: center">
  <h2>
    <%= @device_story.last_location_name %> (<%= @device_story.device_urn %>)
    <%- if  @device_story.last_seen %>
      <div style="font-size: 15px"> <%= time_ago_in_words(@device_story.last_seen) %> ago</div>
    <%- end %>
  </h2>
</div>
<hr>
<div class="row text-center" >
  <div class="col-md-12">
    <div id="map" class="panel panel-default device-chart">
      <div class="text-center" style="font-size: 15px; margin-bottom: 5px"> <b>Location</b> </div>
      <% l = sensor_last_location()%>
      <% unless l.blank? || l["lat"].blank? || l["lon"].blank? %>
        <script>
            new Mapkick.Map("map",
                [{latitude: <%= l["lat"] %>,
                    longitude: <%= l["lon"] %>,
                    label: '<%= @device_story.device_urn %>',
                    tooltip: "lat: " + <%= l["lat"] %> + " lon: " + <%= l["lon"] %>}]);
        </script>
      <% else %>
        No location data found in data.
      <% end %>
    </div>
  </div>
  <% sensor_data = get_sensor_data() %>
  <%- if !sensor_data["radiation_sensors"].empty? %>
    <div id="chart-panel" class="col-md-6 col order-1">
      <div class="panel panel-default device-chart">
          <div class="pull-left hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
            <label class="switch">
              <input id="width-switch" type="checkbox">
              <span class="slider round"></span>
            </label>
            <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
          </div>
          <b style="margin-right: 55px">CPM</b>
          <%= line_chart sensor_data["radiation_sensors"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
      </div>
    </div>
  <%- end %>
  <%- if !sensor_data["air_sensors"].blank? %>
    <div id="" class="col-md-6">
      <div class="panel panel-default device-chart">
        <div class="pull-left hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
          <label class="switch">
            <input id="width-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
        </div>
        <b style="margin-right: 55px">Air Quality</b>
        <%= line_chart sensor_data["air_sensors"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
      </div>
    </div>
  <%- end %>
  <%- if !sensor_data["bat_voltage"].blank? %>
    <div class="col-md-6">
      <div class="panel panel-default device-chart">
        <div class="pull-left hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
          <label class="switch">
            <input id="width-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
        </div>
        <b style="margin-right: 55px">Battery Voltage</b>
        <%= line_chart sensor_data["bat_voltage"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
      </div>
    </div>
  <%- end %>
  <%- if !sensor_data["temperature_C"].blank? %>
    <div class="col-md-6">
      <div class="panel panel-default device-chart">
        <div class="pull-left  hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
          <label class="switch">
            <input id="width-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
        </div>
        <b style="margin-left: 25px">Temperature</b>
        <div class="pull-right" style="margin-right: 20px; margin-top: 2px">
          °C
          <label class="switch">
            <input id="temp-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          °F
        </div>
        <div id="celsius"><%= line_chart sensor_data["temperature_C"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
        </div>
        <div id="fahrenheit" class="hidden"><%= line_chart sensor_data["temperature_F"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
        </div>
      </div>
    </div>
  <%- end %>
  <%- if !sensor_data["humidity"].blank? %>
    <div class="col-md-6">
      <div class="panel panel-default device-chart">
        <div class="pull-left hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
          <label class="switch">
            <input id="width-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
        </div>
        <b style="margin-right: 55px">Humidity</b>
        <%= line_chart sensor_data["humidity"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
      </div>
    </div>
  <%- end %>
  <%- if !sensor_data["pressure"].blank? %>
    <div class="col-md-6">
      <div class="panel panel-default device-chart">
        <div class="pull-left hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
          <label class="switch">
            <input id="width-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </div>
        <b style="margin-right: 55px">Pressure</b>
        <%= line_chart sensor_data["pressure"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
      </div>
    </div>
  <%- end %>
  <%- if !sensor_data["charging"].blank? %>
    <div class="col-md-6">
      <div class="panel panel-default device-chart">
        <div class="pull-left  hidden-xs hidden-sm" style="color: lightgrey; margin-left: 10px; margin-top: 2px">
          <label class="switch">
            <input id="width-switch" type="checkbox">
            <span class="slider round"></span>
          </label>
          <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>       
        </div>
        <b style="margin-right: 55px">Charging</b>
        <%= line_chart sensor_data["charging"], height: "250px", library: { plotOptions: {series: {lineWidth: 2}}, chart: {zoomType: 'x', panKey: 'shift', panning: true} }, legend: "bottom", colors: ["#7eb26d", "#eab839", "#6ed0e0", "#ef843c", "#e24d42", "#ba43a9"]%>
      </div>
    </div>
  <%- end %>
  <div class="col-md-6">
    <div class="panel panel-default device-chart" style="height: 300px">
      <%= button_to 'More sensor data', grafana_more_data(@device_story.device_urn), target: :_blank, class: "btn btn-default btn-secondary", style: "margin-top: 120px; color: #6ba5bd" %>
    </div>
  </div>
</div>
<hr/>
<div>
  <h2>Comments: <br></h2>
  <table class="table table-striped">
    <tbody>
    <%- if @device_story.device_story_comments.empty? %>
      No Comments yet.
    <%- else %>
      <%- @device_story.device_story_comments.each do |comment| %>
        <tr>
          <td>
            <b><%= link_to comment.user.name, comment.user %></b> <div style="display: inline-block; color: dimgrey; font-size: small">(<%= time_ago_in_words(comment.created_at) %> ago)</div>
            <p>
              <%= comment.content %>
            </p>
            <%- if comment.image.attached? -%>
              <hr style="margin: 5px" />
              <%= link_to(url_for(comment.image)) do %>
                <%= image_tag comment.image.variant(resize: '160x240'), class: 'img-responsive' %>
              <%- end %>
            <%- end %>
            <%- if comment.user_id == current_user&.id || moderator?(current_user) %>
              <div style="float:right"> <%= link_to 'Delete', device_story_device_story_comment_path(@device_story, comment), method: :delete %></div>
            <%- end %>
          </td>
        </tr>
      <%-end %>
    <%- end %>
    </tbody>
  </table>
</div>
<div class="col-md-12" style="margin-left: 5px;">
  <%- if user_signed_in? %>
    <%= form_with model: DeviceStoryComment, url: device_story_device_story_comments_path(@device_story), local: true, method: 'post' do |form| %>
      <%= form.label :content, current_user.name %>
      <%= form.text_area :content, :rows => 3, class: "form-control", style: 'width:97%;' %>
      <p><%= form.submit "Submit comment", class: "form-control btn btn-primary", style: "margin-top: 10px; width: 200px;" %></p>
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
      <%= form.file_field :image %>
    <% end %>
  <% end %>
</div>
<div class="spacer"></div>
<%= current_page_api_example :device_stories_url %>
