<div class="row">
  <section class="span5">
    <%- if current_user.name.present? %>
      <h2><%= t('hello') -%> <%= current_user.first_name %></h2>
    <%- end -%>
    <p>
      <%= t('welcome_to_the_api_center') -%>
    </p>
    <ul class="nav nav-pills nav-stacked well">
      <li class="nav-header">
        <%= t('from_here_you_can') -%>:
      </li>
      <li>
        <%= link_to '#profile-modal', :title => t("profile"), :data => {
          :toggle => 'modal'
        } do %>
        <%= t('retrieve_your_api_key') %>
        <%- end -%>
      </li>
      <li>
        <%= link_to t('submit_a_reading_from_your_device'), [:new, :measurement] %>
      </li>
      <li>
        <%= link_to t('view_your_submission_history'), :measurements %>
      </li>
      <li class="nav-header">
        <%= t('if_you_have_a_bgeigie') %>:
      </li>
      <li>
        <%= link_to t('upload_a_bgeigie_log_file'), [:new, :bgeigie_import] %>
      </li>
      <li>
        <%= link_to t('review_your_bgeigie_log_file_submissions'), [:bgeigie_imports] %>
      </li>
    </ul>
  </section>

  <section class="span4 dashboard">
    <ul class="unstyled">
      <li>
        <%= link_to [:measurements] do %>
          <em>
            <%= number_with_delimiter current_user.measurements.count %>
          </em>
          <%= t('.submissions') %>
        <%- end -%>
      </li>
      <li>
        <%= link_to [:bgeigie_imports] do %>
          <em><%= current_user.bgeigie_imports.count  %></em>
          <%= t('.bgeigie_imports') -%>
        <%- end -%>
      </li>
      <%- if current_user.moderator? && @unapproved_bgeigie_imports.any? -%>
        <li>
          <%= link_to bgeigie_imports_path(by_status: 'submitted')  do -%>
            <em><%= @unapproved_bgeigie_imports.count -%></em>
            <%= t('.imports_awaiting_approval') -%>
          <%- end -%>
        </li>
      <%- end -%>
    </ul>
  </section>
</div>
