%h1
  Safecast API documentation

#resource
  %h2 Resource:  #{@doc[:name]}
  #{@doc[:description]}

#request
  %h2 Your Request
  .url
    %h3 URL Requested
    = request.url
  .params
    %h3 Params Supplied
    = render :partial => 'supplied_params'

#result
  %h3 Result
  This is the result of your query.

  .json
    = render :partial => 'json'
