// There's definitely a way to DRY these up, but for now, bruting them a bit to get shit done.
%h1
  Safecast API documentation

#endpoint
  %h2 Endpoint details
  .url
    %h3 URL
    = request.path
  .methods
    %h3 Supported Methods
    %dl
      %dt>< GET
      %dd Get information about the API.  For the root endpoint, this is mostly just for links.
  .required-params
    %h3 Required Params
    = render :partial => 'required_params'
  .optional-params
    %h3 Optional Params
    = render :partial => 'optional_params'
  .description
    %h3 Description
    This is the Safecast API's root URL.  

#request
  %h2 Your Request
  .url
    %h3 URL Requested
    = request.url
  .params
    %h3 Params Supplied
    = render :partial => 'supplied_params'

#result
  %h3 Result
  This is the result of your query.

  .json
    %h4 JSON
    = render :partial => 'json'
  .xml
    %h4 XML
    = render :partial => 'xml'
  
