%h1
  Safecast API documentation

#resource
  %h2 Resource: description
  The description resource lives at the root of the API to provide complete discoverability.

  Throughout the API, the result of your request will depend on the Accept field of the HTTP header.
  In general, GETing a resource with 'Accept: text/html' will provide documentation for that resource
  (including documentation for other available methods on the resource).


#resources
  %h2 Resources
  The following resources are provided by the Safecast API service.
  = render :partial => 'resources'

#schema
  %h2 Schema
  = render :partial => 'schema'



#request
  %h2 Your Request
  .url
    %h3 URL Requested
    = request.url
  .params
    %h3 Params Supplied
    = render :partial => 'supplied_params'

#result
  %h3 Result
  This is the result of your query.

  .json
    = render :partial => 'json'
