%ul.nav.nav-tabs.nav-stacked
  %li.disabled
    %a bGeigie Imports for moderators
  %li
    = link_to 'Not processed', bgeigie_imports_not_processed_index_path
  %li
    = link_to 'Not submitted', bgeigie_imports_not_submitted_index_path
  %li
    = link_to 'Not approved', bgeigie_imports_not_approved_index_path
  %li
    = link_to 'Rejected', bgeigie_imports_rejected_import_index_path
  %li
    = link_to 'Awaiting response', bgeigie_imports_awaiting_response_index_path
  %li
    = link_to 'Auto approved', bgeigie_imports_auto_approved_index_path
