<%= show_filters :bgeigie_import,
                 [:q, :uploaded_after, :uploaded_before, :status, :rejected_by, :by_user_name,:by_user_id] %>

<%= filter_modal :bgeigie_imports do %>
  <table>
    <tbody>
    <tr>
      <td>
        <b><%= t(".by_user") %></b>
      </td>
    </tr>
    <tr>
      <td>
        <%= filter_field :bgeigie_import, :by_user_name %>
      </td>
      <td>
        <%= filter_field :bgeigie_import, :by_user_id %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t(".by_date") %></b>
      </td>
    </tr>
    <tr>
      <td>
        <%= datetime_picker :bgeigie_import, :uploaded_before %>
      </td>
      <td>
        <%= datetime_picker :bgeigie_import, :uploaded_after %>
      </td>
    </tr>
    <tr>
      <td>
        <b><%= t(".other") %></b>
      </td>
    </tr>
    <tr>
      <td>
        <%= filter_field :bgeigie_import, :q %>
      </td>
      <td>
        <%= dropdown_field(:bgeigie_import, :status, [:all,:approved,:rejected,:not_approved,:not_rejected]) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= filter_field :bgeigie_import, :rejected_by %>
      </td>
    </tr>
    </tbody>
  </table>
  <%= hidden_field_tag 'by_status', params[:by_status] %>
<%- end -%>