<ul class="nav nav-tabs">
  <li
    <%- if controller_name == 'measurements' && %w(new create).include?(action_name) -%>
      class="active"
    <%- end -%>
  >
    <%= link_to [:new, :measurement] do %>
      <%= t('.submit_a_single_measurement') -%>
    <%- end -%>
  </li>
  <li
    <%- if controller_name == 'bgeigie_imports' && %w(new create).include?(action_name) -%>
      class="active"
    <%- end -%>
  >
    <%= link_to [:new, :bgeigie_import] do %>
      <%= t('.upload_a_bgeigie_log_file') -%>
    <%- end -%>
  </li>
  <li
    <%- if controller_name == 'air_imports' && %w(new create).include?(action_name) -%>
    class="active"
    <%- end -%>
  >
    <%= link_to [:new, :air_import] do %>
      <%= t('.upload_an_air_log_file') -%>
    <%- end -%>
  </li>
</ul>
