<!DOCTYPE html>

<html>
  <head>
    <title>
      Safecast
      <%- if content_for?(:title) -%>
        <%= content_for(:title) %>
      <%- end -%>
    </title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag :application %>
    <%- if ENV['CONNECTION_STATUS'] != 'offline' -%>
      <%= javascript_include_tag "#{request.protocol}maps.googleapis.com/maps/api/js?key=AIzaSyA15g0-2g2c7LbKWwCJmJpQWbdntzXZshE&sensor=true" %>
    <%- end -%>
    <%= javascript_include_tag "#{request.protocol}use.typekit.com/tvi6mbv.js" %>
    <script type="text/javascript" charset="utf-8">
      try{Typekit.load();}catch(e){}
    </script>
    <!-- [if lt IE 9] -->
    <%= javascript_include_tag "#{request.protocol}html5shim.googlecode.com/svn/trunk/html5.js" %>
    <!--[endif]-->
  </head>
  <body data-spy="scroll" data-target=".doc-nav">
    <div class="container">
      <%= render :partial => 'shared/dashboard_navigation' %>
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav" id="api-nav">
            <ul class="nav nav-list">
              <li <%= raw('class="active"') if controller_name == 'home' %>>
                <%= link_to t('.home'), :root %>
              </li>
              <li <%= raw('class="active"') if controller_name == 'users' %>>
                <%= link_to t('.users'), :users %>
              </li>
              <li <%= raw('class="active"') if controller_name == 'measurements' %>>
                <%= link_to t('.measurements'), :measurements %>
              </li>
              <li <%= raw('class="active"') if controller_name == 'bgeigie_imports' %>>
                <%= link_to t('.bgeigie_imports'), :bgeigie_imports %>
              </li>
              <li <%= raw('class="active"') if controller_name == 'devices' %>>
                <%= link_to t('.devices'), :devices %>
              </li>
            </ul>
          </div>
        </div>

        <div class="span9">
          <%= yield %>
        </div>
      </div>

      <footer class="row">
        <p class="span12"><%= t 'creative_commons_non_commercial' %></p>
        <p class="span12"><%= link_to_switch_locale %></p>
      </footer>
    </div>

    <div id="api-modal" class="modal hide fade" tabindex="-1">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
          API Request
        </h3>
        <p>
          GET <span class="api-url"></span>
        </p>
      </div>

      <div class="modal-body" id="api-results">
        <pre id="api-output" class="prettyprint lang-javascript"></pre>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <%= content_for :additional_javascripts %>
    <%= javascript_include_tag :application %>
  </body>
</html>