<!DOCTYPE html>

<html>
  <head>
    <title>Safecast</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag :application %>
    <%- if ENV['CONNECTION_STATUS'] != 'offline' -%>
      <%= javascript_include_tag "#{request.protocol}maps.googleapis.com/maps/api/js?key=AIzaSyA15g0-2g2c7LbKWwCJmJpQWbdntzXZshE&sensor=true" %>
    <%- end -%>
    <%= javascript_include_tag "#{request.protocol}use.typekit.com/tvi6mbv.js" %>
    <script type="text/javascript" charset="utf-8">
      try{Typekit.load();}catch(e){}
    </script>
    <!-- [if lt IE 9] -->
    <%= javascript_include_tag "#{request.protocol}html5shim.googlecode.com/svn/trunk/html5.js" %>
    <!--[endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <h1><%= link_to "Safecast", root_path %></h1>
        <nav>
          <ul>
            <li>
              <%= link_to t("Api Docs"), [:api,:root] %>
            </li>
            <%- if user_signed_in? -%>
              <li>
                <%= link_to [:my, :profile], :title => t('Profile') do %>
                  <%= t('Profile') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:my, :measurements], :title => t('Measurements') do %>
                  <%= t('Measurements') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:my, :bgeigie_imports], :title => t('Imports') do %>
                  <%= t('Imports') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:my, :maps], :title => t('Maps') do %>
                  <%= t('Maps') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:new, :my, :measurement], :title => t('Submit a Reading') do %>
                  <%= t('Submit') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to t('Sign out'), logout_path %>
              </li>
            <%- else -%>
              <li>
                <%= link_to t("Sign in"), new_user_session_path %>
              </li>
              <li>
               <%= link_to t("Sign up"), new_user_registration_path %>
              </li>
            <%- end -%>
          </ul>
        </nav>
      </header>
      <div id="page" class="container">
        <%= yield %>

        <footer class="span12">
          <p><%= t 'Creative Commons Non-Commercial' %></p>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag :application %>
    <%= content_for :additional_javascripts %>
  </body>
</html>