!!! html5
%html
  %head
    %title Safecast
    = csrf_meta_tag
    = stylesheet_link_tag :application
  %body
    %div.container
      %header
        %h1= link_to "Safecast", root_path, :data => { :pjax => true }
        %nav
          %ul
            %li= link_to 'Maps', '/maps'
            %li= link_to 'Submit', '/my/measurements/new', :title => 'Submit a Reading', :data => { :pjax => true }
            %li= link_to 'Sign out', logout_path
      
      = yield
      
      %footer
        %p Creative Commons Non-Commercial
    = javascript_include_tag :vendor
    = javascript_include_tag :application
    = yield :additional_javascripts
    = javascript_include_tag :start
    - if ENV['CONNECTION_STATUS'] != 'offline'
      = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyA15g0-2g2c7LbKWwCJmJpQWbdntzXZshE&sensor=true'
      = javascript_include_tag 'http://use.typekit.com/tvi6mbv.js'
      :javascript
        try{Typekit.load();}catch(e){}
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"