<!DOCTYPE html>

<html>
  <head>
    <title>Safecast</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag :application %>
    <%- if ENV['CONNECTION_STATUS'] != 'offline' -%>
      <%= javascript_include_tag "#{request.protocol}maps.googleapis.com/maps/api/js?key=AIzaSyA15g0-2g2c7LbKWwCJmJpQWbdntzXZshE&sensor=true" %>
    <%- end -%>
    <%= javascript_include_tag "#{request.protocol}use.typekit.com/tvi6mbv.js" %>
    <script type="text/javascript" charset="utf-8">
      try{Typekit.load();}catch(e){}
    </script>
    <!-- [if lt IE 9] -->
    <%= javascript_include_tag "#{request.protocol}html5shim.googlecode.com/svn/trunk/html5.js" %>
    <!--[endif]-->
  </head>
  <body>
    <div class="container">
      <%= render :partial => 'shared/dashboard_navigation' %>
      <div id="page" class="container">
        <div class="row">
          <%= yield %>
        </div>

        <footer class="span12">
          <p><%= t 'creative_commons_non_commercial' %></p>
          <p><%= link_to_switch_locale %></p>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag :application %>
    <%= content_for :additional_javascripts %>
  </body>
</html>
