<!DOCTYPE html>

<html>
  <head>
    <title>Safecast</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag :application %>
    <%- if ENV['CONNECTION_STATUS'] != 'offline' -%>
      <%= javascript_include_tag "#{request.protocol}maps.googleapis.com/maps/api/js?key=AIzaSyA15g0-2g2c7LbKWwCJmJpQWbdntzXZshE&sensor=true" %>
    <%- end -%>
    <%= javascript_include_tag "#{request.protocol}use.typekit.com/tvi6mbv.js" %>
    <script type="text/javascript" charset="utf-8">
      try{Typekit.load();}catch(e){}
    </script>
    <!-- [if lt IE 9] -->
    <%= javascript_include_tag "#{request.protocol}html5shim.googlecode.com/svn/trunk/html5.js" %>
    <!--[endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <h1><%= link_to "Safecast", root_path %></h1>
        <nav>
          <ul>
            <li>
              <%= link_to t("api_docs"), [:api,:root] %>
            </li>
            <%- if admin_signed_in? -%>
              <li>
                <%= link_to [:admin], :title => t("admin") do %>
                  <%= t("admin") %>
                <%- end %>
              </li>
            <%- end -%>
            <%- if user_signed_in? -%>
              <li>
                <%= link_to [:my, :profile], :title => t("profile") do %>
                  <%= t('profile') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:my, :measurements], :title => t("measurements") do %>
                  <%= t('measurements') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:my, :bgeigie_imports], :title => t('imports') do %>
                  <%= t('imports') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:my, :maps], :title => t('maps') do %>
                  <%= t('maps') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to [:new, :my, :measurement], :title => t('submit_a_reading') do %>
                  <%= t('submit') %>
                <%- end -%>
              </li>
              <li>
                <%= link_to t('sign_out'), logout_path %>
              </li>
            <%- else -%>
              <li>
                <%= link_to t("sign_in"), new_user_session_path %>
              </li>
              <li>
               <%= link_to t("sign_up"), new_user_registration_path %>
              </li>
            <%- end -%>
          </ul>
        </nav>
      </header>
      <div id="page" class="container">
        <%= yield %>

        <footer class="span12">
          <p><%= t 'creative_commons_non_commercial' %></p>
          <p><%= link_to_switch_locale %></p>
        </footer>
      </div>
    </div>
    <%= javascript_include_tag :application %>
    <%= content_for :additional_javascripts %>
  </body>
</html>