<!DOCTYPE html>

<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>
    <%- if content_for?(:title) -%>
      <%= content_for(:title) %> \\
    <%- end -%>
    Safecast API
  </title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :application %>
  <%- if ENV['CONNECTION_STATUS'] != 'offline' -%>

  <%- end -%>
  <%= javascript_include_tag "#{request.protocol}use.typekit.com/tvi6mbv.js" %>
  <script type="text/javascript" charset="utf-8">
      try{Typekit.load();}catch(e){}
  </script>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".doc-nav" >

<div class="container-fluid">
      <%= render 'shared/flash', flash: flash %>
      <%= yield %>
  <footer style="display: flex">
    <p class="span12"><%= t 'creative_commons_non_commercial' %></p>
    <p class="span12"><%= link_to_switch_locale %></p>
  </footer>
</div>

<%= javascript_include_tag :application %>
<%= content_for :additional_javascripts %>
</body>
</html>
